{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}

{% block content %}
<h1 class="text-center text-uppercase">Oops! An Error Occurred</h1>
<h2 class="text-center text-uppercase">The server retad a "{{ status_code }} {{ status_text }}".</h2>
{% endblock %}