{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
{% block content %}
<div class="entrenamiento_marcas">
	<h1 class="mainTitle">Our Core Brands</h1>
	<div class="infoBrand">
		<div class="tabs">
			<ul>
				<li><a href="#" class="infoMarca active"></a></li>
				<li><a href="#" class="catalogo"></a></li>
				<li><a href="#" class="manual"></a></li>
			</ul>
		</div>
		<div class="info">
			<img src="{{ asset('bundles/odiseoconagra/images/marcas/solo/act2.png') }}" class="logo">
			<div class="mainInfo">
				<h3>Información de la marca</h3>
				<div class="infoContent">
					<p>En 1981, Golden Valley Microwave Foods creó la marca ACT I,  unas palomitas refrigeradas que se vendían a través de máquinas expendedoras. Y en 1984, se desarrolla una revolucionaria bolsa que permitiría a los granos estallar en cualquier microondas. Este novedoso producto se llamaría ACT II, y paso a ser parte del portafolio de ConAgra Foods Inc. en 1991. 
Hoy en día, ACT II es la marca líder de palomitas para microondas, que se vende en más de 50 países, ocupando en muchos de los casos el 1 o 2 lugar de esta categoría. Y dentro de snacks, es la segunda categoría con crecimiento más rápido crecimiento, ¡con un promedio de más del 7.5% en los últimos cinco años!*
deben tener mayor espacio.
					</p>
				</div>
			</div>
			<div class="otherData">
				<h3>Datos curiosos</h3>
				<div class="otherContent">
					<ul>
						<li>La evidencia más temprana de las palomitas de maíz se encontró en Perú y data de 4700 aC.</li>
						<li>Los estadounidenses consumen unos 16 mil millones cuartos de este grano. Eso es 51 cuartos por hombre, mujer y niño.</li>  
						<li>Las semillas de las palomitas pueden explotar hasta 3 pies en el aire. *</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
