{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
{% block menu %}{% endblock %}

{% block content %}
<div class="quienesconagra">
	<div class="quienes_05">
	    <h2 class="mainTitle">Mix de Ventas</h2>
	     <p>ConAgra Foods reports operations in three segments.</p>
	     <div class="graphics">
	     	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="889px"
				 height="404.664px" viewBox="-240.167 0 889 404.664" enable-background="new -240.167 0 889 404.664" xml:space="preserve">
			<g id="Layer_1">
				<g id="Layer_2">
					<path fill="#BF5828" d="M208.833,60.986l-13.5-5.93c0,0-92-7.412-137,97.836c-29.5,89.931,26.5,146.26,26.5,146.26
						s32,31.729,68.661,41.341C189.999,350.061,208.833,60.986,208.833,60.986z"/>
					<polygon fill="#213A68" points="215.833,56.943 234.833,61.943 234.833,192.943 215.833,188.443 		"/>
					
						<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="149.4236" y1="271.3418" x2="140.3694" y2="131.7892" gradientTransform="matrix(1 0 0 -1 -8.3599 428.7188)">
						<stop  offset="0" style="stop-color:#FAA746"/>
						<stop  offset="1" style="stop-color:#B34A26"/>
					</linearGradient>
					<path fill="url(#SVGID_1_)" d="M208.833,61.532v145.712l-25.5,141.867c0,0-115-11.365-116-149.719
						C85.833,60.544,208.833,61.532,208.833,61.532z"/>
				</g>
				<g id="Layer_3">
					<polygon fill="#356A34" points="215.833,203.666 356.832,203.666 371.832,209.609 231.833,210.557 		"/>
					
						<linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="237.2297" y1="210.1055" x2="330.1162" y2="114.5414" gradientTransform="matrix(1 0 0 -1 -8.3599 428.7188)">
						<stop  offset="0" style="stop-color:#67BE61"/>
						<stop  offset="1" style="stop-color:#40863F"/>
					</linearGradient>
					<path fill="url(#SVGID_2_)" d="M371.832,209.557c0,0-5.18,66.862-53.036,106.131c-39,32-67.463,35.924-110.963,37.424l24-142.609"
						/>
					
						<linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="340.1917" y1="330.1162" x2="241.9589" y2="229.4239" gradientTransform="matrix(1 0 0 -1 -8.3599 428.7188)">
						<stop  offset="0" style="stop-color:#4C76BB"/>
						<stop  offset="1" style="stop-color:#2C4B89"/>
					</linearGradient>
					<path fill="url(#SVGID_3_)" d="M234.833,61.468c0,0,59.063-10.095,103.499,43c35.129,41.972,34.688,88.476,34.688,88.476H234.833
						V61.468z"/>
					<path fill="#274577" d="M215.834,57.166c0,0,22.5-2.25,44.5,2.75s42.25,13.25,57.768,26.125
						c-5.027-4.237-44.768-28.75-83.268-23.875L215.834,57.166z"/>
					<polygon fill="#3D7640" points="215.75,203.666 231.75,210.557 207.75,353.166 190.25,347.166 		"/>
				</g>
				<g id="Layer_4">
					<text transform="matrix(1 0 0 1 268.3342 146.4395)" fill="#FFFFFF" font-family="'Roboto-Light'" font-size="24.8901">26%</text>
					<text transform="matrix(1 0 0 1 114.6672 214.7725)" fill="#FFFFFF" font-family="'Roboto-Light'" font-size="24.8901">47%</text>
					<text transform="matrix(1 0 0 1 267.0002 282.416)" fill="#FFFFFF" font-family="'Roboto-Light'" font-size="24.8901">27%</text>
				</g>
				<g id="Layer_5">
				</g>
			</g>
			<g id="Layer_2_1_">
				<linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse" x1="-110.2092" y1="154.7607" x2="-109.9133" y2="303.3528">
					<stop  offset="0" style="stop-color:#FFFFFF"/>
					<stop  offset="1" style="stop-color:#6B6B6B"/>
				</linearGradient>
				<path fill="url(#SVGID_4_)" d="M-18.167,212.019c0,6.565-5.321,11.885-11.885,11.885h-160.23c-6.564,0-11.885-5.319-11.885-11.885
					V139.99c0-6.564,5.321-11.885,11.885-11.885h160.23c6.564,0,11.885,5.321,11.885,11.885V212.019z"/>
				<text transform="matrix(1 0 0 1 -183.1667 161.7729)" fill="#FAA746" font-family="'Roboto-Medium'" font-size="17.8505">Consumer Foods</text>
				<rect x="-182.167" y="169.444" fill="none" width="159.333" height="50.722"/>
				<text transform="matrix(1 0 0 1 -182.1667 178.5879)"><tspan x="0" y="0" fill="#3A3A3A" font-family="'Roboto-Regular'" font-size="12">Makes and sells leading </tspan><tspan x="0" y="14.4" fill="#3A3A3A" font-family="'Roboto-Regular'" font-size="12">consumer branded food to </tspan><tspan x="0" y="28.801" fill="#3A3A3A" font-family="'Roboto-Regular'" font-size="12">retail customers.</tspan></text>
				<linearGradient id="SVGID_5_" gradientUnits="userSpaceOnUse" x1="502.4504" y1="112.9893" x2="502.7987" y2="287.8631">
					<stop  offset="0" style="stop-color:#FFFFFF"/>
					<stop  offset="1" style="stop-color:#6B6B6B"/>
				</linearGradient>
				<path fill="url(#SVGID_5_)" d="M594.499,182.504c0,6.565-5.321,11.885-11.885,11.885H422.385c-6.564,0-11.885-5.319-11.885-11.885
					V93.475c0-6.564,5.32-11.885,11.885-11.885h160.229c6.563,0,11.885,5.321,11.885,11.885V182.504z"/>
				<text transform="matrix(1 0 0 1 429.4993 115.2583)" fill="#4C76BB" font-family="'Roboto-Medium'" font-size="17.8505">Private Brands</text>
				<rect x="430.5" y="122.93" fill="none" width="159.332" height="71.875"/>
				<text transform="matrix(1 0 0 1 430.5002 132.0732)"><tspan x="0" y="0" fill="#3A3A3A" font-family="'Roboto-Regular'" font-size="12">Largest private brand food </tspan><tspan x="0" y="14.4" fill="#3A3A3A" font-family="'Roboto-Regular'" font-size="12">business in North America.</tspan><tspan x="0" y="28.801" fill="#3A3A3A" font-family="'Roboto-Regular'" font-size="12">Makes and sells private </tspan><tspan x="0" y="43.2" fill="#3A3A3A" font-family="'Roboto-Regular'" font-size="12">brands to retail Customers.</tspan></text>
				<linearGradient id="SVGID_6_" gradientUnits="userSpaceOnUse" x1="500.4456" y1="294.7236" x2="500.8277" y2="486.6021">
					<stop  offset="0" style="stop-color:#FFFFFF"/>
					<stop  offset="1" style="stop-color:#6B6B6B"/>
				</linearGradient>
				<path fill="url(#SVGID_6_)" d="M592.499,372.17c0,6.566-5.321,11.885-11.885,11.885H420.385c-6.564,0-11.885-5.318-11.885-11.885
					V272.142c0-6.563,5.32-11.885,11.885-11.885h160.229c6.563,0,11.885,5.321,11.885,11.885V372.17z"/>
				<text transform="matrix(1 0 0 1 427.4993 293.9248)" fill="#67BE61" font-family="'Roboto-Medium'" font-size="17.8505">Commercial</text>
				<rect x="428.5" y="301.596" fill="none" width="159.332" height="71.876"/>
				<text transform="matrix(1 0 0 1 428.5002 310.7402)"><tspan x="0" y="0" fill="#3A3A3A" font-family="'Roboto-Regular'" font-size="12">Makes and sells specialty </tspan><tspan x="0" y="14.4" fill="#3A3A3A" font-family="'Roboto-Regular'" font-size="12">food and ingredients to </tspan><tspan x="0" y="28.801" fill="#3A3A3A" font-family="'Roboto-Regular'" font-size="12">restaurants, foodservice </tspan><tspan x="0" y="43.199" fill="#3A3A3A" font-family="'Roboto-Regular'" font-size="12">operators, and other food </tspan><tspan x="0" y="57.6" fill="#3A3A3A" font-family="'Roboto-Regular'" font-size="12">makers across the world.</tspan></text>
			</g>
			<g id="Layer_3_1_">
				<path fill="#3A3A3A" d="M-14.167,180.337c0,1.656-1.343,3-2.999,3l0,0c-1.657,0-3-1.343-3-3l0,0c0-1.656,1.343-3,3-3l0,0
					C-15.51,177.338-14.167,178.681-14.167,180.337L-14.167,180.337z"/>
				<path fill="#3A3A3A" d="M413.499,137.99c0,1.656-1.342,3-2.998,3l0,0c-1.657,0-3-1.343-3-3l0,0c0-1.656,1.343-3,3-3l0,0
					C412.157,134.99,413.499,136.333,413.499,137.99L413.499,137.99z"/>
				<path fill="#3A3A3A" d="M410.5,322.156c0,1.656-1.342,3-2.998,3l0,0c-1.657,0-3-1.344-3-3l0,0c0-1.656,1.343-3,3-3l0,0
					C409.158,319.156,410.5,320.5,410.5,322.156L410.5,322.156z"/>
				
					<line fill="none" stroke="#3A3A3A" stroke-linecap="round" stroke-miterlimit="10" x1="-17.167" y1="180.337" x2="44.5" y2="180.337"/>
				
					<line fill="none" stroke="#3A3A3A" stroke-linecap="round" stroke-miterlimit="10" x1="366.5" y1="137.99" x2="410.5" y2="137.99"/>
				
					<line fill="none" stroke="#3A3A3A" stroke-linecap="round" stroke-miterlimit="10" x1="323.833" y1="322.156" x2="406.167" y2="322.156"/>
			</g>
			</svg>
			<h3>Total = $18B </h3>
			<p class="asterisk">* Reduced approximated F14 net sales by $1.8B due to creation of Ardent Mills on May 29, 2014.</p>
		     
	     </div>
	</div>
	
	
	<a href="{{ path('odiseo_conagra_frontend_quien_es_page', { 'page': '04' }) }}" class="arrowButton prevArrow hvr-rotate" 
		data-toggle="popover" data-content="" data-placement="top" title="Siguiente" data-trigger="hover">
	</a>
	<a href="{{ path('odiseo_conagra_frontend_quien_es_page', { 'page': '06' }) }}" class="arrowButton nextArrow hvr-rotate" 
		data-toggle="popover" data-content="" data-placement="top" title="Siguiente" data-trigger="hover">
	</a>
</div>
{% endblock %}