{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
{% block menu %}{% endblock %}

{% block content %}
<div class="quienesconagra">
	<div class="quienes_08">
	    <h2 class="mainTitle">Marcas Privadas</h2>
	    		
	    <span class="subTitle">ConAgra Foods es la compañía mas grande de alimentos de marca privada en América del Norte.</span>
	    <br>
	    <br>
		<p>Hacemos desde galletas dulces y saladas de marca privada, frutos secos, cereales, dulces y 
		pastillas, pita chips, condimentos, pastas secas, pudines, cereal listo para comer, cereales 
		calientes, barras alimenticias, mantequilla de maní, salsa para pasta, productos de panadería, masa refrigerada y productos para asar a plancha, entre muchos otros.</p> 
	    <br>
		<img src="{{ asset('bundles/odiseoconagra/images/quienesconagra/08_image.png') }}" class="img-responsive">

	</div>
	
	
	<a href="{{ path('odiseo_conagra_frontend_quien_es_page', { 'page': '07' }) }}" class="arrowButton prevArrow hvr-rotate" 
		data-toggle="popover" data-content="" data-placement="top" title="Siguiente" data-trigger="hover">
	</a>
	<a href="{{ path('odiseo_conagra_frontend_quien_es_page', { 'page': '09' }) }}" class="arrowButton nextArrow hvr-rotate" 
		data-toggle="popover" data-content="" data-placement="top" title="Siguiente" data-trigger="hover">
	</a>
</div>
{% endblock %}