{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
{% block menu %}{% endblock %}

{% block content %}
<div class="quienesconagra">
	<div class="customInfoBox withoutRadiusTop withoutBorder3D" style="height: 80%;">
		<img src="{{ asset('bundles/odiseoconagra/images/quienesconagra/intro_box_header.jpg') }}" class="headerImage img-responsive">
		
		<h2 class="mainTitle">¿Quién es ConAgra Foods?</h2>
		
		<p>Es una compañía norteamericana que produce y distribuye alimentos alrededor del  mundo. Fundada en 1919, como Nebraska Consolidated Mills cambia de nombre en 1971 a ConAgra, Inc. y a partir de año 2000  es mundialmente presentada como ConAgra Foods, Inc.</p> 
		<p>ConAgra Foods es una de las compañías más grandes en alimentos empacados, es parte de las Fortune 500 Companies y se cotiza en la bolsa de valores como NYSE: CAG.</p>
	</div>
	<!-- 
	<div class="row inicio">
		<div class="col-xs-12 videos">
			<a href="#">
				<img src="{{ asset('bundles/odiseoconagra/images/quienesconagra/marca_consumo.png') }}" class="img-responsive">
				<span>Video 01</span>
			</a>
			<a href="#">
				<img src="{{ asset('bundles/odiseoconagra/images/quienesconagra/marca_comercial.png') }}" class="img-responsive">
				<span>Video 02</span>
			</a>
		</div>
	</div>
	 -->
	<a href="{{ path('odiseo_conagra_frontend_quien_es_page', { 'page': '03' }) }}" class="arrowButton nextArrow hvr-rotate" 
		data-toggle="popover" data-content="" data-placement="top" title="Siguiente" data-trigger="hover">
	</a>
</div>
{% endblock %}