{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}

{% block javascripts %}

    {{ parent() }}
    
    <script>
	    var toolTiptemplate = '<div class="tooltip" style="margin-top:-42px;" role="tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>';
		var toolTipYear = '<h3>';
		var toolTipYearEnd = '</h3><p>'
		var toolTipEnd = '</p>';
	
		$('.circle').each(function()
		{
			var year = $(this).attr('id');
			var text = $(this).data('text');
			$(this).tooltip({ title: toolTipYear+year+toolTipYearEnd+text+toolTipEnd, template: toolTiptemplate , container:'body', html:true, trigger: 'manual'});
			$(this).click(function (e) 
			{
				e.preventDefault();
				var circle = this;
				$('.circle').each(function()
				{
					if(this != circle)
						$(this).tooltip('hide');
				});
					
			    $(this).tooltip('show');
			});
		});

		$('#many-stories').css('background', 'black');
	</script>
{% endblock %}
 
{% block content %}
<div class="quien_es">
	<h1 class="mainTitle">One Company. Many Stories</h1>
	<div class="timelineContainer">
		{% include 'OdiseoConAgraBundle:Frontend:QuienEs/timeline-svg.html.twig' %}
		
	
	</div>
	<div class="timelineArrows center-block">
		<a href="#" class="left"><img src="{{ asset('bundles/odiseoconagra/images/arrow_black.png') }}"></a>
		<a href="#"><img src="{{ asset('bundles/odiseoconagra/images/arrow_black.png') }}"></a>
	</div>

</div>

{% endblock %}