{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
{% block content %}
<div class="quien_es marcaConsumo">
	<h1 class="mainTitle">Nuestras Principales Marcas de Consumo</h1>
	<img src="{{ asset('bundles/odiseoconagra/images/quienesconagra/marcas_de_consumo.png') }}" alt="our-purpose"  class="img-responsive center-block">

</div>
{% endblock %}
