{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
{% block content %}
<div class="quien_es operationsReport">

	<img src="{{ asset('bundles/odiseoconagra/images/quienesconagra/operations_report.png') }}" alt="Reporte de operaciones"  class="img-responsive center-block">

</div>
{% endblock %}
