{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
{% block content %}
<div class="quien_es ourPurpose">

	<img src="{{ asset('bundles/odiseoconagra/images/quienesconagra/our_purpose.png') }}" alt="our-purpose"  class="img-responsive center-block">

</div>
{% endblock %}
