{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
{% block content %}
<div class="quien_es">
	<h1 class="mainTitle">Private Label</h1>
</div>

<img src="{{ asset('bundles/odiseoconagra/images/quienesconagra/private_brands.png') }}" alt="commercial-foods"  class="img-responsive content-image">
{% endblock %}
