{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
{% block content %}
<div class="quien_es privateLabel">
	<h1 class="mainTitle">Marca Privada</h1>

	<img src="{{ asset('bundles/odiseoconagra/images/quienesconagra/private_brands.png') }}" alt="private brands"  class="img-responsive privateLabel center-block">
</div>
{% endblock %}
