{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
{% block content %}
<div class="quien_es quienEsConagra">

	<img src="{{ asset('bundles/odiseoconagra/images/quienesconagra/quien_es_conagra.png') }}" alt="Quien es"  class="img-responsive center-block">

</div>
{% endblock %}
