{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
{% block content %}
<div class="planogramas act act_background">
	<h1 class="mainTitle">Act II</h1>
	<div class="generales clearfix">
		<div class="indicaciones row">
			<div class="col-md-8 col-sm-8 col-xs-12">
			 	<p>	 		
			 		Act II es la <span class="bordo"> marca líder en palomitas de maíz para microondas</span>, por lo que debemos tener y </br>
			 		cuidar de los mejores espacios dentro de la categoría de “Snacks” o pasabocas.  </br> </br>
	
					Las charolas están diseñadas en base un tamaño genérico global de estantería, por ende, en</br>
				 	la mayoría de los casos dos bandejas pueden ser colocadas una encima por frente y así no</br>
				 	desperdiciar el espacio. </br>
	
					A continuación nuestra recomendación de planimetría en base a 6,4 y 2 frentes horizontal y </br>
					vertical. 
			 	</p>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="logo">
					<img src="{{ asset('bundles/odiseoconagra/images/planogramas/Act II/act2_logo.png') }}" alt="act2"  class="img-responsive logo-image center-block">
				</div>
			</div>
		</div>

	</div>
	

	
	
	
</div>
{% include 'OdiseoConAgraBundle:Frontend:Planogramas/menu-act.html.twig' %}
{% endblock %}
