{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
{% block content %}
<div class="planogramas act2 sugerido5">
	<h1 class="mainTitle">Vertical</h1>
	<img src="{{ asset('bundles/odiseoconagra/images/planogramas/Act II/actII_5.png') }}" alt="Act" class="img-responsive center-block img1">
</div>
{% include 'OdiseoConAgraBundle:Frontend:Planogramas/menu-act.html.twig' %}
{% endblock %}
