{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
{% block content %}
<div class="planogramas">
	<h1 class="mainTitle">Planogramas</h1>
	<img src="{{ asset('bundles/odiseoconagra/images/planogramas/hunts/05.png') }}" alt="hunts"  class="img-responsive content-image">
</div>
{% endblock %}
