{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
{% block content %}
<div class="planogramas hunts hunt_background">
	<h1 class="mainTitle">Indicaciones Generales</h1>
	<div class="generales clearfix" style="height: 60%;">
		<div class="indicaciones" style="height: 100%;  overflow: auto;">
		 	<p>
		 		<span>Para productos en lata:</span>
		 		<br/><br/><br/>
		 		<span>
		 			Procurar colocar los productos en bloques o cuadros verticales, para destacar el llamado bloque</br>
		 			rojo </br>
		 		</span>
		 		
		 		<span>
		 			Separarnos por completo de marcas locales o reconocimiento popular.</br>
		 		</span>
		 		
		 		 <span>
		 			Las referencias más buscadas o de sabores "originales" deben ser colocadas siempre al inicio del </br>
		 			bloque y a la izquierda.</br>
		 		</span>
		 		 <span>
		 			Los tomates en trozos o "Diced" deben tener un espacio propio.</br></br>
		 		 </span>
		 		
		 		<span>Para el Kétchup:</span></br></br>
		 		
		 		<span>
		 			Siempre colocarlo junto a marcas importadas.
		 		</span>
		 		
		 		
		 	
		 	</p>
		</div>
		<div class="logo">
			<img src="{{ asset('bundles/odiseoconagra/images/planogramas/hunts/hunts_logo.png') }}" alt="HUNTS"  class="img-responsive logo-image">
		</div>
	</div>
	
	
	
</div>
{% endblock %}
