{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
{% block content %}
<div class="planogramas pam">
	<h1 class="mainTitle">Planograma Sugerido</h1>
	<div class="row">
		<a href="{{ path('odiseo_conagra_frontend_planogramas_page', { 'page': 'pam-planograma-sugerido-3' }) }}">
			<div class="img1 col-md-6">
				<img src="{{ asset('bundles/odiseoconagra/images/planogramas/pam/pam_3_1.png') }}" alt="pam"  class="img-responsive pull-left">
			</div>
			<div class="img2 col-md-6">
				<img src="{{ asset('bundles/odiseoconagra/images/planogramas/pam/pam_3_2.png') }}" alt="pam"  class="img-responsive pull-left">
			</div>
		</a>
	</div>
</div>
{% endblock %}