{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
{% block content %}
<div class="planogramas pam">
	<h1 class="mainTitle">Planograma Sugerido</h1>
	<div class="row">
		<a href="#">
			<div class="img1 col-md-12">
				<img src="{{ asset('bundles/odiseoconagra/images/planogramas/pam/pam_2.png') }}" alt="pam"  class="img-responsive center-block">
			</div>
		</a>
	</div>
</div>
{% endblock %}
