{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
{% block content %}
<div class="planogramas peterpan">
	<h1 class="mainTitle">Planograma Sugerido (Vertical)</h1>
	<div class="row">
		<a href="#">
			<div class="img1 col-md-12">
			<img src="{{ asset('bundles/odiseoconagra/images/planogramas/peterpan/peterpan_2.png') }}" alt="peterpan"  class="img-responsive center-block">
			</div>
		</a>
	</div>
</div>
{% include 'OdiseoConAgraBundle:Frontend:Planogramas/menu-peterpan.html.twig' %}
{% endblock %}
