{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
{% block content %}
<div class="planogramas peterpan">
	<h1 class="mainTitle">Peter Pan. Variedades</h1>
	<div class="generales clearfix">
		<div class="indicaciones row">
			<div class="col-md-6">
			 	<p>
					<ul>
						<li>Exhibir en bloques según el tipo de mantequilla de maní.</li>
						<li>2 frente mínimo  por los sabores principales, participación en 3 tablillas.</li>  
						<li>Presentaciones complementarias 1 o 2 frentes a lo largo de 3 tablillas.</li>
					</ul>
				</p>
			</div>
			<div class="col-md-6">
				<div class="logo">
					<img src="{{ asset('bundles/odiseoconagra/images/planogramas/peterpan/peterpan_1_logo.png') }}" alt="PETERPAN"  class="img-responsive">
				</div>
			</div>
		</div>
		<div class="row images">
			<div class="col-md-4">
			</div>
			<div class="col-md-8">
				<div class="img2">
					<img src="{{ asset('bundles/odiseoconagra/images/planogramas/peterpan/peterpan_1_2.png') }}" alt="PETERPAN"  class="img-responsive pull-right">
				</div>			
				<div class="img1">
					<img src="{{ asset('bundles/odiseoconagra/images/planogramas/peterpan/peterpan_1_1.png') }}" alt="PETERPAN"  class="img-responsive pull-right">
				</div>
	
			</div>
		</div>
	</div>	
</div>
{% endblock %}