{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
{% block content %}
<div class="planogramas snackpack snackpack_background">
	<h1 class="mainTitle">Snack Pack</h1>
	<div class="generales clearfix">
		<div class="indicaciones row">
			<div class="col-md-9">
			 	<p>
					<strong>Snack Pack</strong> ingresa al hogar por los solicitud de infantiles como complemento dentro en la lonchera, sin embargo logra captar un publico  adulto por su conveniencia y sabor. 
					<br><br>
					<strong>Snack Pack</strong> no requiere refrigeración, su ubicación ideal es de gelatinas y pudines, o cerca de las galletas. Sin embargo  hay mercados que lo colocan dentro de zonas refrigeradas. 
		 			<br><br>
					Adjunto planimetría recomendada para Snack Pack, tanto para espacios verticales (estantes) y espacios horizontales (sobre neveras). 
			 	</p>
		 	</div>
			<div class="col-md-3">
				<div class="logo">
					<img src="{{ asset('bundles/odiseoconagra/images/planogramas/snackpack/snackpack_1_logo.png') }}" alt="SNACKPACK"  class="img-responsive pull-right">
				</div>
			</div>
		</div>
	</div>	
</div>
{% include 'OdiseoConAgraBundle:Frontend:Planogramas/menu-snackpack.html.twig' %}
{% endblock %}
