{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
{% block content %}
<div class="planogramas">
	<h1 class="mainTitle">Planograma Sugerido Bloque Completo</h1>
	<div class="row">
		<a href="#">
			<div class="img1 col-md-6">
			<img src="{{ asset('bundles/odiseoconagra/images/planogramas/snackpack/snackpack_3_1.png') }}" alt="snackpack"  class="img-responsive pull-right">
			</div>
			<div class="img2 col-md-6">
			<img src="{{ asset('bundles/odiseoconagra/images/planogramas/snackpack/snackpack_3_2.png') }}" alt="snackpack"  class="img-responsive pull-left">
			</div>
		</a>
	</div>
</div>
{% endblock %}
