{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
{% block content %}
<div class="planogramas swissmiss">
	<h1 class="mainTitle">Swiss Miss</h1>
	<div class="generales clearfix">
		<div class="indicaciones row">
			<div class="col-md-6">
			 	<p>
					<ul>
						<li>Ubicar el producto verticalmente .Si existe , preferiblemente junto  a Nestlé (procurando la misma proporción) y entre otros chocolates en polvo. </li>
						<li>Colocarlo en vertical dos frentes tablillas  2 y 3 para lograr más presencia del producto hacia los consumidores.</li>  
						<li>Buscar ubicación adicional para las versiones de dieta y sin azúcar añadida si aplica al mercado con sección “saludable”.</li>
					</ul>
				</p>
			</div>
			<div class="col-md-6">
				<div class="image">
					<img src="{{ asset('bundles/odiseoconagra/images/planogramas/swissmiss/swissmiss_1.png') }}" alt="SWISSMISS"  class="img-responsive">
				</div>
			</div>
		</div>
	</div>	
</div>
{% endblock %}
