{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
{% block content %}
<div class="planogramas wesson sugerido3">
	<h1 class="mainTitle">Planograma Sugerido Bloque Completo</h1>
	<a href="#">
	<div class="img1 col-md-5 col-xs-12 col-md-offset-1">
		<img src="{{ asset('bundles/odiseoconagra/images/planogramas/wesson/wesson_3_1.png') }}" alt="wesson"  class="img-responsive img1 center-block">
	</div>
	<div class="img2 col-md-5 col-xs-12">
		<img src="{{ asset('bundles/odiseoconagra/images/planogramas/wesson/wesson_3_2.png') }}" alt="wesson"  class="img-responsive img2 center-block">
	</div>
	</a>
</div>
{% include 'OdiseoConAgraBundle:Frontend:Planogramas/menu-wesson.html.twig' %}
{% endblock %}
