{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
{% block content %}
<div class="planogramas">
	<h1 class="mainTitle">Planograma Sugerido Bloque Completo</h1>
	<div>
		<a href="#">
			<img src="{{ asset('bundles/odiseoconagra/images/planogramas/wesson/wesson_3_1.png') }}" alt="wesson"  class="img-responsive pull-left">
			<img src="{{ asset('bundles/odiseoconagra/images/planogramas/wesson/wesson_3_2.png') }}" alt="wesson"  class="img-responsive pull-left">
		</a>
	</div>
</div>
{% endblock %}
