<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />	
		<meta name="keywords" content="conagra">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        
        <title>{% block title %}ConAgra Foods{% endblock %}</title>
        
	    <!-- stylesheets -->
	    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
	    
		{# stylesheets... #}
		{% block stylesheets %}
		{% stylesheets output='css/intro.min.css' filter='cssrewrite'
			'bundles/odiseoconagra/css/bootstrap.min.css'
			'bundles/odiseoconagra/css/base.css'
			'bundles/odiseoconagra/css/intro.css'
		%}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
		{% endstylesheets %}
		{% endblock %}
    </head>
    <body>
    	<div class="container-fluid wrapper">
			<header class="row-fluid header hidden-xs">
				<div class="col-md-2 col-sm-2 marca ACTII">
				</div>
				<div class="col-md-2 col-sm-2 marca bonnet">					
				</div>
				<div class="col-md-2 col-sm-2 marca hunts">					
				</div>		
				<div class="col-md-2 col-sm-2 marca vancamps">					
				</div>		
				<div class="col-md-2 col-sm-2 marca pam">					
				</div>		
				<div class="col-md-2 col-sm-2 marca wesson">					
				</div>		
			</header>
    		<section id="content" class="row-fluid">
    			<div class="col-sm-12 intro">

			        {% for type, messages in app.session.flashBag.all %}
			            {% for message in messages %}
			                <div class="{{ type }}">
			                    {{ message|trans({}, 'FOSUserBundle') }}
			                </div>
			            {% endfor %}
			        {% endfor %}
    			
					{% block content %}
					{% endblock %}
				</div>
			</section>
			<footer class="row-fluid footer hidden-xs">
				<div class="col-md-2 col-sm-2 marca snack">
				</div>
				<div class="col-md-2 col-sm-2 marca healty">					
				</div>
				<div class="col-md-2 col-sm-2 marca peterpan">					
				</div>		
				<div class="col-md-2 col-sm-2 marca david">					
				</div>		
				<div class="col-md-2 col-sm-2 marca swiss">					
				</div>		
				<div class="col-md-2 col-sm-2 marca banquet">					
				</div>					
				<!--  <div class="col-sm-12">
					<img  class="img-responsive" src="{ { asset('bundles/odiseoconagra/images/footer_bienvenida.jpg') }}">
				</div>-->
			</footer>
		</div>
		<!-- javascript -->		
		{# javascripts... #}		
		{% block javascripts %}		
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>		
		{% javascripts output='js/intro.min.js'		
		'bundles/odiseoconagra/js/vendor/bootstrap.min.js'
		'bundles/odiseoconagra/js/vendor/jquery.validate.min.js'
		'bundles/odiseoconagra/js/intro.js'	
		%}		
		<script type="text/javascript" src="{{ asset_url }}"></script>		
		{% endjavascripts %}		
		{% endblock %}
    </body>
</html>
