{% extends 'OdiseoConAgraBundle:Frontend:Intro/layout.html.twig' %}
 
{% block content %}
<!-- register -->
<div class="welcome welcome-register" data-img-path-prefix="{{ asset('bundles/odiseoconagra/images/quienesconagra/timeline/') }}">
	<img src="{{ asset('bundles/odiseoconagra/images/logo_conagra_white.png') }}" class="logo center-block">
	<h4>{{ 'conagra_information_platform' | trans | raw }}</h4>
	<div class="registerForm center-block">
		{{ include('OdiseoConAgraBundle:Frontend/Intro:registerForm.html.twig') }}
	</div>
</div>

{% endblock %}
