<form class="form" action="#" method="post">
       	<div class="row form-group">
           	<div class="col-xs-12 col-sm-6 customSelect">
           		<select class="form-control" name="register[country]" id="register_country"
           			data-rule-required="true"
           		>
           			<option value="">Provincia</option>
           			<option value="Argentina">Argentina</option>
					<option value="Estados Unidos">Estados Unidos</option>
       			</select>
           	</div>
           	<div class="col-xs-12 col-sm-6">
           		<input type="text" class="form-control" name="register[distributor]" id="register_distributor" placeholder="Distribuidor"
					data-rule-required="true"
           		>
           	</div>
       	</div>
		<div class="row form-group">
			<div class="col-xs-12 col-sm-6">
				<input type="text" class="form-control" name="register[name]" id="register_name" placeholder="Nombre"
					data-rule-required="true"
				>
			</div>
			<div class="col-xs-12 col-sm-6">
				<input type="text" class="form-control" name="register[mail]" id="register_mail" placeholder="Mail"
					data-rule-required="true" data-rule-email="true"
				>
			</div>     
		</div>
		<div class="row form-group">
           	<div class="col-xs-12 col-sm-6 customSelect">
           		<select class="form-control" name="register[charge]" id="register_charge"
           			data-rule-required="true"
           			>
           			<option value="">Cargo</option>
           			<option value="1">Empresario</option>
           		</select>
       		</div>
			<div class="col-xs-12 col-sm-6">
				<input type="password" class="form-control" name="register[password]" id="register_password" placeholder="Crear contraseña"
					data-rule-required="true"
				>
			</div>     
		</div>
		<div class="row">
			<div class="hidden-xs col-sm-6">
			</div>
			<div class="col-xs-12 col-sm-6">
				<a href="{{ path('odiseo_conagra_frontend_index') }}" class="btn btn-default cancelButton">Cancelar</a>
				<button type="submit" class="btn btn-danger submitButton">Ingresar</button>
			</div>
		</div>
</form>