
	<div class="belice">
	<p>
		
		SANTIAGO CASTILLO Limited se creó en 1926 y hoy en día es el mayor importador en Belize de alimentos y productos para el hogar provenientes Estados Unidos y Europa
		El grupo SanCas posee cinco tiendas ubicadas estratégicamente, además de varios centros de distribución, que permite la penetración a nivel nacional completa tanto al por menor y al por mayor, incluyendo la Zona Libre de Corozal en la frontera con México.
		</br></br>
		El grupo SanCas ha representado orgullosamente a  ConAgra Foods durante más de una década y con éxito colocar todos sus prestigiosas marcas, Wesson, Hunts, Chef y Orville en particular.
		</br></br>
		El grupo SanCas no sólo los productos comerciales, pero considera a sus proveedores como socios, e invierte una suma igual, el vendedor hace en la promoción de sus marcas a través de: degustaciones, publicidad, ferias, gestión de plataforma y ofertas comerciales. Un éxito que se traduce en un crecimiento anual constante.
		</br></br>
		www.santiagocastillo.com

	</p>
	
	</div>


