
	<div class="brasil">
		<p> {{ 'hi' | trans }}
			Cargill in recent years has been increasing its share in the consumer foods market in Brazil by strengthening their brands, business acquisitions or strategic partnerships with companies. Cargill goal is to be a relevant player in the categories in which it operates, leading to the final consumer brands and products that are preferred by them. 
			</br></br> 
			ConAgra Foods is one of the largest food companies in North America, with its brands present in 99% of homes in the United States. The annual net sales revenue in 2013 was approximately $ 18 BI. 
			</br></br> 
			ConAagra Foods and Cargill already have a solid and very important partnership for both companies: 
			</br></br> 
			One recent partnership example between ConAgra Foods and Cargill is Together formed a joint venture in the flour milling wheat business in North America, www.ardentmills.com; 
			</br></br> 
			Through a new partnership between the two companies, the Hunt’s and ACT II brands are entering the Brazilian market. 
			</br></br> 
			Cargill will distribute in Brazil Hunt’s line of condiments: ketchup packing in two versions - 383g bottle and squeeze the packaging of 567g; yellow mustard and 340g pack of BBQ sauce in packs of 510g and three versions of flavors - Original, Hickory and Mustard and Honey. 
			</br></br> 
			These items will be produced at the ConAgra Foods plant in California, USA and sales will be opened in October / 14 for all Brazil. 
			</br></br> 
			Regarding ACTII brand, Cargill will sell popcorn to microwave in the following versions: Natural flavor (85g packing), flavored butter (85g packing), Light Butter flavor (packaging 80,8g), Extra Butter flavor (packing 85g) and promo packs Lightweight 4 Pay 3 in Natural and butter flavors. 
			</br></br> 
			These items will be produced in Brazil by a partner of ConAgra Foods and sales will be open in October / 14 just for the state of SP, scheduled to open for other states until February / 15.
			</br></br> 
			
			www.cargill.com.br 
		</p>
		<img  class="center-block" src="{{ asset('bundles/odiseoconagra/images/conagralatam/marca-description/brasil1.png') }}" alt="descripcion"  class="img-responsive">
</div>


