
	<div class="brasil">
		<p>
		CONGRUPO es una compañía orgullosamente colombiana que desde 1992, ha sido creada para el desarrollo de marcas de consumo masivo bajo un enfoque de visión global. Llegando a ser el más eficiente comercializador de un valioso portafolio de marcas, enfocado siempre en adicionar valor para nuestros clientes y consumidores, ofreciendo las mejores alternativas de consumo. 
</br></br>
		Actualmente cubrimos todo el territorio nacional, concentrados en 21 ciudades, visitando a más de 1500 clientes directamente, cubriendo las Grandes Superficies, supermercados, mini mercados, droguerías, tiendas de conveniencia, tiendas especializadas e instituciones gubernamentales.
</br></br>
		www.congrupo.com.co
</br></br>
		Altipal promueve la importancia de tener un servicio diferencial para la comercialización de productos y servicios en Colombia a través de una estructura comercial especializada por canal, adaptando nuestro portafolio acorde al mismo.  


		
			</br></br>
		</p>
		<img  class="center-block" src="{{ asset('bundles/odiseoconagra/images/conagralatam/marca-description/colombia1.png') }}" alt="descripcion"  class="img-responsive">
		<div class="center-block arrows">
				<img  class="pull-left" src="{{ asset('bundles/odiseoconagra/images/conagralatam/arrow_black_down.png') }}" alt="descripcion" >
				<img  class="pull-right" src="{{ asset('bundles/odiseoconagra/images/conagralatam/arrow_black_up.png') }}" alt="descripcion">
		</div>
</div>


