
	<div class="costarica">
		<p>
		
		En el año 1932 nace la empresa como distribuidor de productos alimenticios vinos y licores, fundada por don Manuel Constenla Meijide, ciudadano de origen Español. Ubicada en los alrededores del Mercado Central de San José, zona de mayor importancia comercial en la Costa Rica de esa época. La visión de su fundador le facilitó tener contacto directo con los diferentes canales de distribución, conocer sus necesidades y satisfacerlos con un amplio surtido de productos nacionales e importados de alta calidad.
		</br></br>
		En el año 1970, toma el liderazgo del mercado en la distribución de productos de consumo masivo y expande sus operaciones con un nuevo centro de distribución en la capital y 6 centros de distribución regionales en el interior del país, paralelamente con su visión estratégica prepara un equipo profesional de ejecutivos para que den continuidad a la empresa.
		</br></br>
		El nuevo equipo Gerencial, en el año 2009, inaugura un centro de distribución de clase mundial en el Parque Empresarial Novapark, donde también se encuentran instaladas otras empresas del Grupo, demostrando su capacidad, solidez y profesionalismo, lo que le permite continuar siendo "la empresa líder en Distribución y Servicio en Costa Rica".
		</br></br>
		www.ciamesa.com 
		
			</br></br>
		</p>
		<img  class="center-block" src="{{ asset('bundles/odiseoconagra/images/conagralatam/marca-description/costarica1.png') }}" alt="descripcion"  class="img-responsive">
</div>


