
	<div class="ecuador">
		<p>
			QUIFATEX S.A., fue fundada el 26 de mayo de 1978 con administración y capital suizo.
			Inicialmente representamos a compañías internacionales de productos químicos y colorantes para textiles. Posteriormente fuimos incluyendo nuevas líneas de distintas áreas de comercialización: veterinaria, materias primas para la industria farmacéutica y alimenticia, maquinaria, productos farmacéuticos, productos de consumo y cuidado personal, agricultura, entre otros.
		</p>
	
		<img  class="center-block" src="{{ asset('bundles/odiseoconagra/images/conagralatam/marca-description/ecuador1.png') }}" alt="descripcion"  class="img-responsive">
	</div>


