
	<div class="elsalvador">
		<p>
		
		Dizac S.A. de C.V. fue fundada en el año de 1975 como importadora, distribuidora y representante de proveedores extranjeros en el área de comestibles, productos de consumo y cosméticos, cuenta hoy con una posición comercial altamente atractiva para empresas fabricantes y comercio en general.
		En Noviembre de 1975, inicia sus operaciones con 12 personas y 4 líneas de productos de consumo.
		Actualmente  contamos con mas 300 personas y 10 líneas de productos exclusivos.
		Contamos con una Red de distribución con cobertura nacional en Mayoreo, Supermercados, Ruta/Detalle y cuentas claves (farmacias, almacenes, tiendas de conveniencia,  etc.),
		Tenemos una cartera nacional de 1300 clientes efectivos a nivel de Mayoreo y Supermercados, así como una cartera global en tiendas detallistas de 19000 clientes a nivel nacional.
		</br></br>
		www.dizac.com.sv 

		
</p>
	
	</div>


