
	<div class="guatemala">
		<p>
	Ninoshka, S.A. es una empresa guatemalteca fundada en 1976 por inversionistas locales. 
	</br></br>
	Inicio sus operaciones distribuyendo productos para un solo proveedor  a lo largo de los años la mayoría de nuestros proveedores pertenecen al Five Hundred  Fortune Company, que han confiado el desarrollo de sus marcas a nuestra organización y un porcentaje particular con contar con un plantel ejecutivo de alto nivel y una organización competitiva.
	</br></br>
	Proporcionan al consumidor final, productos de alta calidad que satisfagan sus necesidades primarias, por medio de una excelente distribución de productos a nivel nacional. 
	</br></br>
	Manteniéndose a la vanguardia tecnológica, de Recursos Humanos y comercial. 
	</br></br>	
	Con respeto, honestidad y confianza lograremos el bienestar de nuestros empleados, clientes y proveedores, a través de relaciones de trabajo a largo plazo y mutuo 
	beneficio.
	www.ninoshka.com 
			</br></br>
		</p>
		<img  class="center-block" src="{{ asset('bundles/odiseoconagra/images/conagralatam/marca-description/guatemala1.png') }}" alt="descripcion"  class="img-responsive">
		<div class="center-block arrows">
				<img  class="pull-left" src="{{ asset('bundles/odiseoconagra/images/conagralatam/arrow_black_down.png') }}" alt="descripcion" >
				<img  class="pull-right" src="{{ asset('bundles/odiseoconagra/images/conagralatam/arrow_black_up.png') }}" alt="descripcion">
		</div>
</div>


