
	<div class="honduras">
	<p>
		Distribuidora Solís S.A. de CV (DISOL) </br></br>

		Fundada en 1968 han llevado los esfuerzos de los dos hermanos Solís de convertir la Pulpería NAN en una empresa de distribución en toda Honduras. 
		Disol es socio estratégico de ConAgra Foods, importando más de 10 marcas, logrando posicionarlas como líderes dentro de su categoría en importados. </br>
	</p>
	
		<img  class="center-block" src="{{ asset('bundles/odiseoconagra/images/conagralatam/marca-description/honduras1.png') }}" alt="descripcion"  class="img-responsive">
	</div>


