{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
{% block content %}

<div class="conagra_latam">
	<h1 class="mainTitle">ConAgra Latam</h1>
</div>

<div class="marca_descripcion">
	{% block marca_descrition_content %}
	
		
	{% endblock %}
</div>
<div class="latam_mapa">


<object type="image/svg+xml" data="{{ asset('bundles/odiseoconagra/images/conagralatam/mapa_points.svg') }}">Your browser does not support SVG</object>
	
</div>


{% endblock %}