
	<div class="nicaragua">
		<p>Distribuidora Continente, S.A (CONTESA), Inicia operaciones en Septiembre del 2000 en Managua Nicaragua, naciendo de Comercial Delta  y Ahlers, S.A, Compañías establecidas hace más de 70 años. </br></br>

			Actualmente cuenta con más de 100 colaboradores, un almacén localizado en la Zona Industrial más importante de Managua, y un nuevo moderno edificio de oficinas en el centro de la Ciudad. La distribución la realizamos a nivel nacional apoyados por un equipo de reparto propio.  </br></br>

			CONTESA se enfoca en el valor agregado a través, de un excelente servicio y una atención personalizada por parte de nuestros representantes  llenando las expectativas de nuestros clientes, generando satisfacción total a nuestros clientes y rentabilidad para la empresa. </br></br>
		
			www.contesa.com.ni

</p>
	
		<img  class="center-block" src="{{ asset('bundles/odiseoconagra/images/conagralatam/marca-description/nicaragua1.png') }}" alt="descripcion"  class="img-responsive">
	</div>


