
	<div class="panama">
		<p>
			Son la principal distribuidora en Panamá de productos de consumo masivo, alimentos y bebidas, perfumes y cosméticos: productos automotrices y licores, toda convirtiéndose en líderes de su categoría. </br></br>
			Son el proveedor por excelencia de sus clientes al ofrecerles productos de alta calidad a precios competitivos dentro de cada una de sus divisiones. De tal forma, realiza constantemente un esfuerzo especial para anticipar las necesidades de sus clientes, y así, ofrecerles excelentes productos de acuerdo a los requisitos más exigentes del mercado.  </br></br>
			De hecho, esta empresa se ha convertido en una sólida y pujante filial, la cual inclusive ha traspasado fronteras, pues Agencias Feduro inicio en septiembre de 2003 operaciones de distribución exclusiva en Costa Rica.  </br></br>
		</p>
	
		<img  class="center-block" src="{{ asset('bundles/odiseoconagra/images/conagralatam/marca-description/feduro.png') }}" alt="descripcion"  class="img-responsive">
	</div>


