
	<div class="paraguay">
		<p>
					Galerías Guaraní S.A fue constituida en julio de 1965, poco tiempo después se funda el Shopping Vendome, que cuenta con una cadena de exclusivas de tiendas ubicadas en Asunción la capital del Paraguay y Ciudad del Este punto limítrofe con Brasil considerado una de las Ciudades comerciales mas importantes del mundo. Esta tienda de Ciudad del Este esta ubicada en el Shopping Vendome propiedad del grupo. Ambas empresas forman un conglomerado, reconocido como el GRUPO VENDOME dentro de Paraguay en el 
		exterior.</br></br>
		
		Con más de 45 años de experiencia y participación en este mercado, se crea una nueva divisiòn dentro del Grupo, que es la Divisiòn Alimentos Masivos que tiene 10 años de existencia, con un crecimiento continuo.
		Participando  en las principales cadenas de Estaciones de servicio y supermercados donde tenemos buena relación comercial.</br></br>
		
		El gran volumen en nuestra atención personalizada, en  el canal Tradicional que comprende despensas, autoservicios, cantinas de universidades, colegios y canal mayorista.
		Con distribución horizontal también al interior del país.</br></br>
		
		<span class="bold">www.vendome.com.py</span> 


		</p>
	
		<img  class="center-block" src="{{ asset('bundles/odiseoconagra/images/conagralatam/marca-description/paraguay1.png') }}" alt="descripcion"  class="img-responsive">
	</div>


