
	<div class="paraguay">
		<p>
			{{ 'conagra_latam_paraguay' | trans |  raw }}
		</p>
	
		<img  class="center-block" src="{{ asset('bundles/odiseoconagra/images/conagralatam/marca-description/paraguay1.png') }}" alt="descripcion"  class="img-responsive">
	</div>


