
	<div class="peru">
		<p>KMC International S.A.C. es una compañía dirigida por un gfrupo familiar con 17 anos de experiencia en el negocio de importación y distribución de diversas categorías producto de consumo masivo e institucional. Se encargan de llevarle al mercado peruano marcas de reconocimiento internacional como lo son las marcas de ConAgra Foods. </br></br>

		Su cobertura de distribución incluye las principales del país, a todo tipo de negocio incluyendo: cadenas de supermercados, hipermercados, mayoritas, distribuidores, tiendas, bodegas y catering.</br></br>

		www.kmcint.com 
 
</p>
	
		<img  class="center-block" src="{{ asset('bundles/odiseoconagra/images/conagralatam/marca-description/peru1.png') }}" alt="descripcion"  class="img-responsive">
	</div>


