<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />	
		<meta name="keywords" content="conagra">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        
        <title>{% block title %}ConAgra Foods{% endblock %}</title>
        
	    <!-- stylesheets -->
	    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
	    
		{# stylesheets... #}
		{% block stylesheets %}
		{% stylesheets output='css/frontend.min.css' filter='cssrewrite'
			'bundles/odiseoconagra/css/bootstrap.min.css'
			'bundles/odiseoconagra/css/base.css'
			'bundles/odiseoconagra/css/main.css'
		%}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
		{% endstylesheets %}
		{% endblock %}
    </head>
    <body>
    	<div class="container wrapper">
    		<header>
	    		<nav class="navbar navbar-default" role="navigation">
	    			<!-- Brand and toggle get grouped for better mobile display -->
	    			<div class="navbar-header">
		      			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainMenu">
		        			<span class="sr-only">Toggle navigation</span>
		        			<span class="icon-bar"></span>
		        			<span class="icon-bar"></span>
		        			<span class="icon-bar"></span>
		      			</button>
		      			<a class="navbar-brand" href="#"><img src="{{ asset('bundles/odiseoconagra/images/logo_conagra.png') }}"></a>
	    			</div>
	
	    			<!-- Collect the nav links, forms, and other content for toggling -->
	    			<div class="collapse navbar-collapse" id="mainMenu">
	      				<ul class="nav navbar-nav">
	        				<li class="active"><a href="#"><span>QUIÉN ES <strong>CONAGRA</strong></span></a></li>
	        				<li><a href="#"><span>ENTRENAMIENTO <strong>DE MARCAS</strong></span></a></li>
	        				<li><a href="#"><span>CONAGRA <strong>LATAM</strong></span></a></li>
	        				<li><a href="#"><span>PLANOGRAMAS</span></a></li>
	        				<li><a href="#"><span>PROMOCIONES</span></a></li>
	      				</ul>
	    			</div><!-- /.navbar-collapse -->
				</nav>
    		</header>
    		<div id="content">
				{% block content %}
				{% endblock %}
			</div>
			<footer>
				<img src="{{ asset('bundles/odiseoconagra/images/brands_footer.jpg') }}" class="center-block img-responsive">
			</footer>
		</div>
		
		<!-- javascript -->
		{# javascripts... #}
		{% block javascripts %}
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
		{% javascripts output='js/frontend.min.js'
			'bundles/odiseoconagra/js/vendor/bootstrap.min.js'
		%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
		{% endblock %}
    </body>
</html>