{% extends 'OdiseoConAgraBundle:Frontend/Intro:layout.html.twig' %}
 
{% block content %}
<!-- login -->
<div class="welcome">
	<a href="http://www.conagrafoods.com" target="_blank" >
		<img src="{{ asset('bundles/odiseoconagra/images/logo_conagra_white.png') }}" class="logo center-block">
	</a>
	<h4>Plataforma de Información ConAgra</h4>
	<div class="loginForm center-block">
		{{ include('OdiseoConAgraBundle:Frontend/Intro:loginForm.html.twig') }}
	</div>
</div>
{% endblock %}
