html, body {
    margin: 0;
    padding: 0;
    height:100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
    text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

.wrapper {
	background: url(../images/background_bienvenida.jpg) no-repeat;
    background-size:cover;
    width: 100%;
    height: 100%;
    padding: 0;
}

.wrapper > header > div,
.wrapper > footer > div {
	padding: 0;
}

.wrapper > header > div img,
.wrapper > footer > div img {
	width: 100%;
}

.wrapper > footer {
	width: 100%;
	position: fixed;
	bottom: 0px;
} 


/** Welcome screen **/
section .welcome .logo {
	margin-top: 40px;
}

section .welcome h2 {
	font-weight: 300;
	font-size: 43px;
	color: #cac28a;
	text-align: center;
	margin-top: 16px;
}

section .welcome h4 {
	font-size: 22px;
	text-align: center;
	color: #FFFFFF; 
	text-shadow: 0px 4px 4px #000000;
}

section .welcome h4.form {
	font-size: 22px;
	text-align: center;
	color: #FFFFFF; 
	text-shadow: 0px 4px 5px #000000;
}

section .welcome ul.actions {
	margin-top: 70px;
	padding: 0;
	list-style: none;
	text-align: center;
}

section .welcome ul.actions li {
	display: inline-block;
	margin-left: 10px;
}
/* INTRO FORMS */
/** Register form **/
section .registerForm {
	width: 531px;
 	background-color: #f8f8f8;
 	border-radius: 4px;
	
}
section .registerForm { -webkit-box-shadow: 0px 3px 0px 0px rgba(191,191,191,1);
-moz-box-shadow: 0px 3px 0px 0px rgba(191,191,191,1);
box-shadow: 0px 3px 0px 0px rgba(191,191,191,1)
;
}
section .registerForm form, section .loginForm form {
	padding: 20px;
}

section .registerForm form input, section .registerForm form select, section .loginForm form input {
	height: 40px;
   color: #080808;
   font-size:15px;
   font-weight: bold;
   border: 2px solid #dddddd;
   background-color: #fefefe;
}
section .registerForm form input:placeholder, section .registerForm form select:placeholder, section .loginForm form input:placeholder {
   color: #080808;
   font-weight: bold;
}

section .registerForm form input::-webkit-input-placeholder,section .registerForm form select::-webkit-input-placeholder,section .loginForm form input::-webkit-input-placeholder {   color: #080808;
   font-weight: bold; }
section .registerForm form input::-moz-placeholder,section .registerForm form select::-moz-placeholder,section .loginForm form input::-moz-placeholder {    color: #080808;
   font-weight: bold; } /* firefox 19+ */
section .registerForm form input:-ms-input-placeholder,section .registerForm form select:-ms-input-placeholder,section .loginForm form input:-ms-input-placeholder {    color: #080808;
   font-weight: bold; } /* ie */
section .registerForm form input:-moz-placeholder,section .registerForm form select:-moz-placeholder,section .loginForm form input:-moz-placeholder {    color: #080808;
   font-weight: bold; }

section .registerForm form .customSelect select{
   background: transparent;
   padding: 5px;
   line-height: 1;
   -webkit-appearance: none;
 }

section .registerForm form .customSelect {
   overflow: hidden;
	background-image: url(../images/arrow_select.png), url(../images/bar.png);
	background-position: right 25px center, 80% 50%;
	background-repeat: no-repeat;
}
   
section .registerForm form .form-group, section .loginForm form .form-group {
	margin-bottom: 10px;
}

section .registerForm form button, section .loginForm form button  {
	margin:0;
}

section .registerForm form button.btn-danger, section .loginForm form button.btn-danger  {
  background-color: #a01c1e;
  border-color: #a01c1e;
}
section .registerForm form .cancelButton,section .loginForm form .cancelButton{
	width: 91px;
	height: 43px;
	padding-top: 10px;
	background-color: #e3e3e3;
  	border-color: #e3e3e3;
  	color: #797979;
	
}

section .registerForm form .submitButton,section .loginForm form .submitButton {
	width: 121px;
	height: 43px;
	float: right;
}
/* loginForm */

section .loginForm {
	width: 284px;
	background-color: #f4f4f4;
	margin-top:35px;
 	border-radius: 4px;
	
}
section .loginForm { -webkit-box-shadow: 0px 3px 0px 0px rgba(191,191,191,1);
-moz-box-shadow: 0px 3px 0px 0px rgba(191,191,191,1);
box-shadow: 0px 3px 0px 0px rgba(191,191,191,1)
;
}
section .loginForm form { 
	padding: 25px 23px 19px 24px;
}
section .loginForm form .buttons{
	margin-top:10px;
}
section .loginForm .alert{
	margin-bottom: -25px;
	padding: 8px;
}
section .loginForm .forgotPassword{
	text-decoration: underline;
	color:#a73839 !important;
	cursor:pointer;
}
/**/

/* header */
.header, .footer{
	height: 15%;
}

.header img{	
	width: 45% !important;
	position: absolute;
	right: 4%;
	top: 30%;
}

.container-fluid .ACTII{
	background: url(../images/marcas/actii.jpg) no-repeat;
	background-size: cover;
	background-position: right bottom;
	height: 100%;
	position: relative;
}
.container-fluid .bonnet{
	background: url(../images/marcas/bonnet.jpg) no-repeat;
	background-size: cover;
	background-position: right bottom;
	height: 100%;
	position: relative;
}
.container-fluid .hunts{
	background: url(../images/marcas/hunts.jpg) no-repeat;
	background-size: cover;
	background-position: right bottom;
	height: 100%;
	position: relative;
}
.container-fluid .vancamps{
	background: url(../images/marcas/vancamps.jpg) no-repeat;
	background-size: cover;
	background-position: right bottom;
	height: 100%;
	position: relative;
}
.container-fluid .pam{
	background: url(../images/marcas/pam.jpg) no-repeat;
	background-size: cover;
	background-position: right bottom;
	height: 100%;
	position: relative;
}
.container-fluid .wesson{
	background: url(../images/marcas/wesson.jpg) no-repeat;
	background-size: cover;
	background-position: right bottom;
	height: 100%;
	position: relative;
}


/*footer */

.container-fluid .snack{
	background: url(../images/marcas/snack.jpg) no-repeat;
	background-size: cover;
	background-position: right bottom;
	height: 100%;
	position: relative;
}
.container-fluid .healty{
	background: url(../images/marcas/healty2.jpg) no-repeat;
	background-size: cover;
	background-position: right bottom;
	height: 100%;
	position: relative;
}
.container-fluid .peterpan{
	background: url(../images/marcas/peterpan.jpg) no-repeat;
	background-size: cover;
	background-position: right bottom;
	height: 100%;
	position: relative;
}
.container-fluid .david{
	background: url(../images/marcas/david.jpg) no-repeat;
	background-size: cover;
	background-position: right bottom;
	height: 100%;
	position: relative;
}
.container-fluid .swiss{
	background: url(../images/marcas/swiss.jpg) no-repeat;
	background-size: cover;
	background-position: right bottom;
	height: 100%;
	position: relative;
}
.container-fluid .banquet{
	background: url(../images/marcas/banquet2.jpg) no-repeat;
	background-size: cover;
	background-position: right bottom;
	height: 100%;
	position: relative;
}


/* MEDIA QUERYS */

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 768px)  { 
	
	section .welcome-register .logo{
		margin-top: 30px;
		width: 47%;
	}
	section .welcome-register h4 {
		font-size: 16px;
	}
	section .registerForm form {
		padding: 17px;
	}
	section .registerForm {
		width: 87%;
	}	

}