html, body {
    margin: 0;
    padding: 0;
    height:100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
    text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

body {
	background: url(../images/background.jpg) no-repeat;
	background-size: cover;
	background-position: bottom center;
}

.wrapper {	
	height: 100%;
	position: relative;
}

header .navbar-default {
	background: none;
	border: none;	
}

header .navbar .navbar-brand {
	padding: 38px 0;
	height: auto;	
} 

header .navbar-nav {
	float: right;	
}

header .navbar-nav > li {
	display: table;
	width: 130px;
	height: 169px;
}

header .navbar-nav > li > a {	
	display: table-cell;
	height: 100%;
	vertical-align: middle;
	color: #333333;
	padding: 0;
}

header .navbar-default .navbar-nav>.active>a, 
header .navbar-default .navbar-nav>.active>a:hover, 
header .navbar-default .navbar-nav>.active>a:focus {
	background: none;
}

header .navbar-nav > li > a span {
	display: block;
	display: table-cell;
	height: 42px;
	padding: 0 15px;
	border-left: 1px solid #333333;
	vertical-align: middle;
	color:#555;
}

header .navbar-default .navbar-nav>.active>a span, 
header .navbar-default .navbar-nav>.active>a:hover span, 
header .navbar-default .navbar-nav>.active>a:focus span {
	border-left: 1px solid #cf3232;
	color: #cf3232;
	
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	left:0;
}

.content-image {
	height:100%;
    width: 100%;
}

#content {
	position: absolute;
	top: 25%;
	bottom: 31px;
	width: 1140px;
	overflow: visible;
}

#content .mainTitle {
	font-family: 'hand_of_sean_demoregular';
	margin: 0 0 80px 0;
	font-size: 22px;
	padding-left: 40px;
	background: url(../images/fruit.png) no-repeat;
	background-size: contain;
	background-position: left center;
}

#content .mainTitleContent .backButton {
	font-family: 'Roboto', sans-serif;
	margin-right: 15px;
	color: #333333;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
	text-decoration: none;
}

#content .mainTitleContent .backButton:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

#content .brands-container {
}

#content .brands-container ul.brands {
	text-align: center;
}

#content .brands-container ul.brands li {
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
	
	-webkit-filter: drop-shadow(10px 10px 14px rgba(0, 0, 0, 0.7));
	filter: drop-shadow(10px 10px 14px 0px rgba(0, 0, 0, 0.32)); /*url(shadow.svg#drop-shadow);*/
	-ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=10, OffY=10,Color='#000000')";
	filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=10, OffY=10, Color='#000000')";
}

.marca_descripcion
{
	float:left;	
	margin-top:-7%;
}

.latam_mapa{
	float:right;	
	margin-top:-9%;
}

img.marca_descripcion{
	
}

#content .quien_es {

}

#content .quien_es .mainTitle {
	margin: 0 0 30px 0;
}

#content .quien_es.privateLabel .mainTitle {
	margin: 0 0 0 0;
}

#content .quien_es .boxes {
	padding: 0;
}


#content .quien_es img.commercialFoods {
	max-width: 80%;
}
#content .quien_es img.privateLabel {
	max-width: 82%;
}

.commercialFoodsBackground {
	position: fixed;
	bottom: 30px;
	right: 0;
}

#content .infoBrand {
	margin-bottom: 100px;
}

#content .infoBrand .tabs {
	height: 60px;
	width: 65%;
}

#content .infoBrand .tabs ul {
	height: 100%;
	margin: 0;
	float: right;
	margin-right: 25px;
}

#content .infoBrand .tabs ul li {
	height: 100%;
	float: left;
}

#content .infoBrand .tabs ul li a {
	height: 100%;
	display: block;
}

#content .infoBrand .tabs ul li a.infoMarca{
	width: 130px;
	background: url(../images/infoBrand/tab_blue_info.png) no-repeat;
}

#content .infoBrand .tabs ul li a.infoMarca:hover,
#content .infoBrand .tabs ul li a.infoMarca.active {
	background: url(../images/infoBrand/tab_blue_info_selected.png) no-repeat;
}
	
#content .infoBrand .tabs ul li a.catalogo {
	width: 135px;
	background: url(../images/infoBrand/tab_blue_catalogo.png) no-repeat;
}

#content .infoBrand .tabs ul li a.catalogo:hover,
#content .infoBrand .tabs ul li a.catalogo.active {
	background: url(../images/infoBrand/tab_blue_catalogo_selected.png) no-repeat;
}

#content .infoBrand .tabs ul li a.manual {
	width: 119px;
	background: url(../images/infoBrand/tab_blue_manual.png) no-repeat;
}

#content .infoBrand .tabs ul li a.manual:hover,
#content .infoBrand .tabs ul li a.manual.active {
	background: url(../images/infoBrand/tab_blue_manual_selected.png) no-repeat;
}
/* GREEN */
#content .infoBrand .tabs ul li a.infoMarca.green{
	width: 130px;
	background: url(../images/infoBrand/tab_green_info.png) no-repeat;
}

#content .infoBrand .tabs ul li a.infoMarca.green:hover,
#content .infoBrand .tabs ul li a.infoMarca.green.active {
	background: url(../images/infoBrand/tab_green_info_selected.png) no-repeat;
}
	
#content .infoBrand .tabs ul li a.catalogo.green {
	width: 135px;
	background: url(../images/infoBrand/tab_green_catalogo.png) no-repeat;
}

#content .infoBrand .tabs ul li a.catalogo.green:hover,
#content .infoBrand .tabs ul li a.catalogo.green.active {
	background: url(../images/infoBrand/tab_green_catalogo_selected.png) no-repeat;
}

#content .infoBrand .tabs ul li a.manual.green {
	width: 119px;
	background: url(../images/infoBrand/tab_green_manual.png) no-repeat;
}

#content .infoBrand .tabs ul li a.manual.green:hover,
#content .infoBrand .tabs ul li a.manual.green.active {
	background: url(../images/infoBrand/tab_green_manual_selected.png) no-repeat;
}

/**/
/* YELLOW */
#content .infoBrand .tabs ul li a.infoMarca.yellow{
	width: 130px;
	background: url(../images/infoBrand/tab_yellow_info.png) no-repeat;
}

#content .infoBrand .tabs ul li a.infoMarca.yellow:hover,
#content .infoBrand .tabs ul li a.infoMarca.yellow.active {
	background: url(../images/infoBrand/tab_yellow_info_selected.png) no-repeat;
}
	
#content .infoBrand .tabs ul li a.catalogo.yellow {
	width: 135px;
	background: url(../images/infoBrand/tab_yellow_catalogo.png) no-repeat;
}

#content .infoBrand .tabs ul li a.catalogo.yellow:hover,
#content .infoBrand .tabs ul li a.catalogo.yellow.active {
	background: url(../images/infoBrand/tab_yellow_catalogo_selected.png) no-repeat;
}

#content .infoBrand .tabs ul li a.manual.yellow {
	width: 119px;
	background: url(../images/infoBrand/tab_yellow_manual.png) no-repeat;
}

#content .infoBrand .tabs ul li a.manual.yellow:hover,
#content .infoBrand .tabs ul li a.manual.yellow.active {
	background: url(../images/infoBrand/tab_yellow_manual_selected.png) no-repeat;
}

/**/
/* RED */
#content .infoBrand .tabs ul li a.infoMarca.red{
	width: 130px;
	background: url(../images/infoBrand/tab_red_info.png) no-repeat;
}

#content .infoBrand .tabs ul li a.infoMarca.red:hover,
#content .infoBrand .tabs ul li a.infoMarca.red.active {
	background: url(../images/infoBrand/tab_red_info_selected.png) no-repeat;
}
	
#content .infoBrand .tabs ul li a.catalogo.red {
	width: 135px;
	background: url(../images/infoBrand/tab_red_catalogo.png) no-repeat;
}

#content .infoBrand .tabs ul li a.catalogo.red:hover,
#content .infoBrand .tabs ul li a.catalogo.red.active {
	background: url(../images/infoBrand/tab_red_catalogo_selected.png) no-repeat;
}

#content .infoBrand .tabs ul li a.manual.red {
	width: 119px;
	background: url(../images/infoBrand/tab_red_manual.png) no-repeat;
}

#content .infoBrand .tabs ul li a.manual.red:hover,
#content .infoBrand .tabs ul li a.manual.red.active {
	background: url(../images/infoBrand/tab_red_manual_selected.png) no-repeat;
}

/**/
#content .infoBrand .info {
	height: 326px;
	position: relative;
}

#content .infoBrand .info > img.logo {
	position: absolute;
	top: -48px;
	left: 20px;
	z-index: 999;
}
#content .infoBrand.wesson .info > img.logo {
	top: -19px;
}
#content .infoBrand.pam .info > img.logo {
	top: -27px;
	left: 38px;
}


#content .infoBrand .info .mainInfo {
	float: left;
	width: 65%;
	height: 100%;
	padding: 60px 120px 45px 45px;
	background: url(../images/infoBrand/info_background.png) no-repeat;
	background-size: cover;
	-webkit-filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.4));
	filter: drop-shadow(0px 8px 7px rgba(0, 0, 0, 0.4));
	-ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=8, OffY=7,Color='#000000')";
	filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=8, OffY=7, Color='#000000')";
}
#content .infoBrand.swissmiss .info .mainInfo {
	background: url(../images/infoBrand/info_swissmiss_background.png) no-repeat;
	width: 78%;
}
#content .infoBrand.pam .info .mainInfo {
	background: url(../images/infoBrand/info_pam_background.png) no-repeat;
}
#content .infoBrand.peterpan .info .mainInfo {
	background: url(../images/infoBrand/info_peterpan_background.png) no-repeat;
}
#content .infoBrand.snackpack .info .mainInfo {
	background: url(../images/infoBrand/info_snackpack_background.png) no-repeat;
}
#content .infoBrand.wesson .info .mainInfo {
	background: url(../images/infoBrand/info_wesson_background.png) no-repeat;
}
#content .infoBrand.hunts .info .mainInfo {
	background: url(../images/infoBrand/info_hunts_background.png) no-repeat;
}

#content .infoBrand .info .mainInfo h3 {
	font-family: 'hand_of_sean_demoregular';
	font-size: 18px;
	color: #0070bd;
}
#content .infoBrand .info .mainInfo.green h3{
	font-family: 'hand_of_sean_demoregular';
	font-size: 18px;
	color: #5d9f4e;
}
#content .infoBrand .info .mainInfo.red h3{
	font-family: 'hand_of_sean_demoregular';
	font-size: 18px;
	color: #cb2432;
}
#content .infoBrand .info .mainInfo.red h4 {
	font-size: 16px;
	font-weight: bold;
	color: #cb2432;
}

#content .infoBrand .info .mainInfo .infoContent {
	overflow: auto;
	height: 180px;
	margin: 0;
}
#content .infoBrand.wesson .info .mainInfo .infoContent {
	height: 206px;
}
#content .infoBrand.hunts .info .mainInfo .tabContent.catalogo .infoContent {
	margin-top:35px;
}
#content .infoBrand.swissmiss .info .mainInfo .tabContent.catalogo .infoContent {
	height: 195px;
}
#content .infoBrand.pam .info .mainInfo .tabContent.catalogo .infoContent {
	height: 186px;
}
#content .infoBrand.peterpan .info .mainInfo .tabContent.catalogo .infoContent {
	margin-top:35px;
}
#content .infoBrand.snackpack .info .mainInfo .tabContent.catalogo .infoContent {
	margin-top:35px;
}


#content .infoBrand .info .mainInfo p {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

#content .infoBrand .info .mainInfo .downloads {
	margin-top: 20px;
}

#content .infoBrand .info .mainInfo .downloads .downloadItem {
	font-family: 'Roboto', sans-serif;
	float: left;
	background: url(../images/download-icon.png) no-repeat;
	background-position: 0 3px;
	padding-left: 40px;
	margin-right: 60px;
}

#content .infoBrand .info .mainInfo .downloads .downloadItem a.name {
	color: #4f4f4f;
}

#content .infoBrand .info .mainInfo .downloads .downloadItem .fileInfo {
	color: #9e9e9e;
	font-size: 12px;
	margin: 0;
}

#content .infoBrand .info .otherData {
	float: left;
	width: 332px;
	height: 340px;
	background: url(../images/infoBrand/other_data_box.png) no-repeat;
	margin-left: -85px;
	color: #FFFFFF;
	padding: 28px;
	-webkit-filter: drop-shadow(0px 8px 7px rgba(0, 0, 0, 0.4));
	filter: drop-shadow(0px 8px 7px rgba(0, 0, 0, 0.4));
	-ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=8, OffY=7,Color='#000000')";
	filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=8, OffY=7, Color='#000000')";
}
#content .infoBrand .info .otherData.red {
	background: url(../images/infoBrand/other_data_box_red.png) no-repeat;
}
#content .infoBrand .info .otherData.green {
	background: url(../images/infoBrand/other_data_box_green.png) no-repeat;
}
#content .infoBrand .info .otherData.yellow {
	background: url(../images/infoBrand/other_data_box_yellow.png) no-repeat;
}


#content .infoBrand .info .otherData h3 {
	font-family: 'hand_of_sean_demoregular';
	font-size: 22px;
	margin: 10px 0 5px 0;
	padding-left: 55px;
	height: 50px;
	line-height: 38px;
	background: url(../images/infoBrand/asterisk_blue.png) no-repeat;
}
#content .infoBrand .info .otherData.red h3 {
	background: url(../images/infoBrand/asterisk_red.png) no-repeat;
}
#content .infoBrand .info .otherData.green h3 {
	background: url(../images/infoBrand/asterisk_green.png) no-repeat;
}
#content .infoBrand .info .otherData.yellow h3 {
	background: url(../images/infoBrand/asterisk_yellow.png) no-repeat;
}
#content .infoBrand.wesson .info .mainInfo.green .catalogo h3{
	margin: 0;
}
#content .infoBrand.snackpack .info .otherData a {
	font-size: 14px;
	padding-left: 25px;
	text-decoration:none; 
	color: #FFFFFF;
	background: url(../images/infoBrand/star.png) no-repeat center left;
}

#content .infoBrand .info .otherData .otherContent {
	margin-top: 10px;
	font-family: 'Roboto', sans-serif;
	line-height: 16px;
	-webkit-box-shadow: 0px -18px 18px -16px rgba(50, 50, 50, 0.30);
	-moz-box-shadow: 0px -18px 18px -16px rgba(50, 50, 50, 0.30);
	box-shadow: 0px -18px 18px -16px rgba(50, 50, 50, 0.30);
	padding-top: 20px;
}
#content .infoBrand.peterpan .info .otherData .otherContent{
	font-size: 13px;
	line-height: 14px;
}
#content .infoBrand.pam .info .otherData .otherContent{
	font-size: 13px;
	line-height: 14px;
	overflow-y: auto;
	overflow-x: hidden;
	height: 214px;
}
#content .infoBrand.pam .info .otherData .otherContent p{
	padding-left:23px;
}

#content .infoBrand .info .otherData .otherContent ul {
	list-style: initial;
	margin-left: 25px;
	width: 82%;
}

#content .infoBrand .info .otherData .otherContent ul li {
	margin-bottom: 10px;
}

#content .infoBrand .social {
	position: relative;
}

#content .infoBrand .social ul {
	margin: 0;
	position: absolute;
	left: 36px;
	top: 12px;
}

#content .infoBrand .social ul li {
	float: left;
	margin-right: 6px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;
}

#content .infoBrand .social ul li:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

#content .quien_es .timeline{
	width: 100%;
}

#content .quien_es .circlemenu
{
	
}

.circlemenu{

width: 100%;
overflow:hidden;
position: absolute;
top:0%;

}

.circlemenu ul{
	margin: 0;
	padding: 0;
	font: bold 14px Verdana;
	list-style-type: none;
	text-align: center; /* "left", "center", or "right" align menu */
}

.circlemenu li{
	display: inline;
	margin: 0;
}

.circlemenu li a{
	display:inline-block;
	text-align:center;
	text-decoration: none;
	color: white;
	background:#918786;
	margin: 0;
	margin-right:5px; /*right spacing between each link */
	width:10px;
	height:10px;
	border-radius: 400px; /*really large border radius to create round borders*/
	-moz-border-radius: 400px;
	-webkit-border-radius: 400px;
}

.circlemenu a span{
	position:relative;
	top:40%;
}

.circlemenu li a:visited{
	color: white;
}

.circlemenu a:hover{
	background: #e9e9e9;
}

.circlemenu a:active{
	background: black;
}

#content .quien_es .timeline .circle {
	cursor: pointer;
}