html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'Lato', sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

body {
	background: url(../images/background.jpg) no-repeat;
	background-size: cover;
	background-position: bottom center;
}

.wrapper {
	height: 100%;
	position: relative;
}

header .navbar-default {
	background: none;
	border: none;
}

header .navbar .navbar-brand {
	padding: 38px 0;
	height: auto;
}

header .navbar-nav {
	float: right;
}

header .navbar-nav>li {
	display: table;
	width: 130px;
	height: 169px;
}

header .navbar-nav>li.home {
	width: 70px;
}

header .navbar-nav>li>a {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
	color: #333333;
	padding: 0;
	text-transform: uppercase;
}

header .navbar-default .navbar-nav>.active>a, header .navbar-default .navbar-nav>.active>a:hover,
	header .navbar-default .navbar-nav>.active>a:focus {
	background: none;
}

header .navbar-nav>li>a span {
	display: block;
	display: table-cell;
	height: 42px;
	padding: 0 15px;
	border-left: 1px solid #333333;
	vertical-align: middle;
	color: #555;
}

header .navbar-default .navbar-nav>.active>a span, header .navbar-default .navbar-nav>.active>a:hover span,
	header .navbar-default .navbar-nav>.active>a:focus span {
	border-left: 1px solid #cf3232;
	color: #cf3232;
}

header .navbar-default .navbar-nav>li.dropdown:hover>a span, header .navbar-default .navbar-nav>li.dropdown:hover>a:hover span,
	header .navbar-default .navbar-nav>li.dropdown:hover>a:focus span {
	background: #b3ba30;
	color: #FFFFFF;
	padding: 10px 15px;
	width: 110px;
	border: none;
}

header .navbar-default .navbar-nav>li.dropdown:hover>.dropdown-menu {
	display: block;
}

header .navbar-default .navbar-nav>li>.dropdown-menu {
	top: 67%;
	background: #b3ba30;
	border: none;
	min-width: 190px;
	padding: 0;
}

header .navbar-default .navbar-nav>li>.dropdown-menu>li>a {
	line-height: 40px;
	padding: 0 20px;
	color: #FFFFFF;
}

header .navbar-default .navbar-nav>li>.dropdown-menu>li>a:hover, header .navbar-default .navbar-nav>li>.dropdown-menu>li>a:focus
	{
	background: #969d15;
	color: #FFFFFF;
}

header .logout {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	position: absolute;
	right: 0%;
	top: 15px;
	z-index: 100;
}

header .logout .welcomeText {
	color: #a4a4a4;
  	font-style: italic;
}

header .logout .username {
	color: #404040;
	margin-left: 5px;
}

header .logout .exit {
	margin-right: 10px;
}
  
header .logout .exit a {
	color: #8d8d8d;
	text-decoration: underline;
}

header .logout .flag {
	margin: 0 10px;
}

header .logout .locale_chooser {
	display: inline-block;
	border-left: 1px solid #000000;
	padding-left: 10px;
}

header .logout .locale_chooser li {
	display: inline;
	margin-left: 10px;
}

header .logout .locale_chooser li a {
	color: #8c8c8c;
}

header .logout .locale_chooser li.locale_current a,
header .logout .locale_chooser li a:hover {
	color: #474747;
	text-decoration: underline;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	left: 0;
}

.content-image {
	height: 100%;
	width: 100%;
}

#content {
	position: absolute;
	top: 25%;
	bottom: 31px;
	width: 1140px;
	overflow: visible;
}
.quienesconagra .mainTitle {
	font-family: 'hand_of_sean_demoregular';
	font-size: 22px;
	padding-left: 40px;
	background: url(../images/fruit.png) no-repeat;
	background-size: contain;
	background-position: left center;
	margin-bottom:22px;
}
.quienesconagra .quienes_03 p {
  color: #383838;
  font-size: 16px;
  font-weight: 500;
}
.quienesconagra .quienes_03 .categorias {
	margin-top:5%;
}
.quienesconagra .quienes_03 .categorias > div {
	padding:0;
}

.quienesconagra .quienes_03 .marca{
  position: relative;
}
.quienesconagra .quienes_03 .marca a{
  display:block;
}	
.quienesconagra .quienes_03 .marca img{
  margin: 0 auto;
}
.quienesconagra .quienes_03 .marca span{
  position: absolute;
  bottom: 33%;
  left: 0%;
  font-size: 22px;
  width: 100%;
  text-align: center;
  color: #fff;
}

.quienesconagra .quienes_03 .marca.consumo span{
  position: absolute;
  bottom: 22%;
}
.quienesconagra .quienes_03 .marca.privada span{
  position: absolute;
  bottom: 22%;
}

.quienesconagra .quienes_04{
  margin-top:3%;
}	
.quienesconagra .quienes_04 .marca{
  position: relative;
}
.quienesconagra .quienes_04 .marca a{
  display:block;
}	
.quienesconagra .quienes_04 .marca img{
  margin: 0 auto;
}
.quienesconagra .quienes_04 .marca span{
  position: absolute;
  bottom: 9%;
  left: 0%;
  font-size: 22px;
  width: 100%;
  text-align: center;
  color: #fff;
}		
.quienesconagra .quienes_05 .graphics{
  width: 56%;
  heigth:50%;
  margin: 0 auto;
}
.quienesconagra .quienes_05 .mainTitle{
	margin-top:0px;
}		
.quienesconagra .quienes_05 svg{
	width:100%;
	height:100%;
	text-align:center;
}		
.quienesconagra .quienes_05 h3{
  text-align:center;
  font-weight:bold;
}		
.quienesconagra .quienes_05 .asterisk{
  text-align:center;
  margin-top:10px;
  margin-bottom:0px;
  font-size:13px;
}
.quienesconagra .quienes_06 .marcas > div{
  padding:0;
}
.quienesconagra .quienes_06 .marcas2 > div{
  padding:0;
}
.quienesconagra .quienes_06 .marcas .marca1 img,.quienesconagra .quienes_06 .marcas2 .marca1 img{
	float:right;
}
.quienesconagra .quienes_06 .marcas2{
	margin-top:1%;
}

.quienesconagra .quienes_07 p {
  color: #383838;
  font-size: 16px;
  font-weight: 500;
}
.quienesconagra .quienes_07 p.asterisk {
  font-size: 13px;
  font-weight: 100;
}
.quienesconagra .quienes_07 img{
  position: absolute;
  bottom: 1%;
  max-width: 75%;
  left: 12%;
}
.quienesconagra .subTitle {
	font-family: 'hand_of_sean_demoregular';
	font-size:	19px;
}
.quienesconagra .quienes_08 p {
  color: #383838;
  font-size: 17px;
  font-weight: 500;
}
.quienesconagra .quienes_08 img{
  position: absolute;
  bottom: 1%;
  max-width: 80%;
  left: 12%;
}
.quienesconagra .quienes_09 .marcasComerciales{
  width:100%;
}
.quienesconagra .quienes_09 .marcasComerciales > div{
  width: 16%;
  margin-right: 4%;
  float:left;
  position:relative;
}
.quienesconagra .quienes_09 .marcasComerciales p{
  position: absolute;
  font-size: 14px;
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 0px 10px;
}
.quienesconagra .quienes_09 .marcasComerciales .marca1 p{
  bottom: 28%;
}	
.quienesconagra .quienes_09 .marcasComerciales .marca2 p{
  bottom: 0%;
}	
.quienesconagra .quienes_09 .marcasComerciales .marca3 p{
  bottom: 19%;
}		
.quienesconagra .quienes_09 .marcasComerciales .marca4 p{
  bottom: 28%;
}		
.quienesconagra .quienes_09 .marcasComerciales .marca5 p{
  bottom: 28%;
}			
#content .entrenamiento_marcas .mainTitle {
	margin: 0 0 20px 0;
}

#content .entrenamiento_marcas.index .mainTitle {
	margin: 0 0 65px 0;
}

#content .entrenamiento_marcas .brands-container .brands li a img {
	margin-top: 8px;
}

#content .backButton {
	background: url('../images/volverInicioButton.png') no-repeat center top;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	margin-right: 15px;
	padding-top: 30px;
	color: #333333;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity = 80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
	text-decoration: none;
	text-align: center;
}

#content .backButton:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

#content .brands-container {
	
}

#content .brands-container ul.brands {
	text-align: center;
}

#content .brands-container ul.brands li {
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
	-webkit-filter: drop-shadow(10px 10px 14px rgba(0, 0, 0, 0.7));
	filter: drop-shadow(10px 10px 14px 0px rgba(0, 0, 0, 0.32));
	/*url(shadow.svg#drop-shadow);*/
	-ms-filter:
		"progid:DXImageTransform.Microsoft.Dropshadow(OffX=10, OffY=10,Color='#000000')";
	filter:
		"progid:DXImageTransform.Microsoft.Dropshadow(OffX=10, OffY=10, Color='#000000')";
}

#content .conagra_latam .saleTracker {
	position: absolute;
	bottom: 0;
	left: 82%;
	color: black;
	padding-left: 30px;
	border: none;
	background: url(../images/conagralatam/circle_arrow.png) no-repeat left
		center;
}

#content .conagra_latam .marca_descripcion .slimScrollDiv {
	padding-right: 20px;
}

#content .conagra_latam .marca_descripcion .panama {
	width: 45%;
	float: left;
	margin-top: -5%;
}

#content .conagra_latam .latam_mapa #svg2 {
	width: 120%;
	height: 526px;
}

#content .conagra_latam .marca_descripcion .panama>img {
	margin-top: 5%;
}

#content .conagra_latam .marca_descripcion .peru {
	width: 45%;
	float: left;
	margin-top: -5%;
}

#content .conagra_latam .marca_descripcion .peru>img {
	margin-top: 5%;
}

#content .conagra_latam .marca_descripcion .honduras {
	width: 45%;
	float: left;
	margin-top: -5%;
}

#content .conagra_latam .marca_descripcion .honduras>img {
	margin-top: 5%;
}

#content .conagra_latam .marca_descripcion .elsalvador {
	width: 45%;
	float: left;
	margin-top: -5%;
}

#content .conagra_latam .marca_descripcion .elsalvador>img {
	margin-top: 5%;
}

#content .conagra_latam .marca_descripcion .belice {
	width: 45%;
	float: left;
	margin-top: -5%;
}

#content .conagra_latam .marca_descripcion .belice>img {
	margin-top: 5%;
}

#content .conagra_latam .marca_descripcion .paraguay {
	width: 45%;
	float: left;
	margin-top: -5%;
}

#content .conagra_latam .marca_descripcion .paraguay>img {
	margin-top: 5%;
	max-width: 20%;
}

#content .conagra_latam .marca_descripcion .ecuador {
	width: 45%;
	float: left;
	margin-top: -5%;
}

#content .conagra_latam .marca_descripcion .ecuador>img {
	margin-top: 5%;
}

#content .conagra_latam .marca_descripcion .nicaragua {
	width: 45%;
	float: left;
	margin-top: -5%;
}

#content .conagra_latam .marca_descripcion .nicaragua>img {
	margin-top: 0%;
	width: 60%;
}

#content .conagra_latam  .arrows {
	width: 15%;
	margin-top: 4%;
}

#content .conagra_latam .marca_descripcion .brasil {
	width: 45%;
	float: left;
	margin-top: -5%;
	position: absolute;
	height: 85%;
}

#content .conagra_latam .marca_descripcion .brasil>p {
	
}

#content .conagra_latam .marca_descripcion .brasil>img {
	margin-top: 5%;
}

#content .conagra_latam .marca_descripcion .colombia {
	width: 45%;
	float: left;
	margin-top: -5%;
	position: absolute;
}

#content .conagra_latam .marca_descripcion .colombia>p {
	margin-top: 0%;
	max-height: 60%;
	overflow: auto;
}

#content .conagra_latam .marca_descripcion .colombia>img {
	margin-top: 5%;
	width: 45%;
}

#content .conagra_latam .marca_descripcion .costarica {
	width: 45%;
	float: left;
	margin-top: -5%;
	position: absolute;
	height: 90%;
}

#content .conagra_latam .marca_descripcion .costarica>p {
	margin-top: 0%;
	max-height: 50%;
	overflow: auto;
}

#content .conagra_latam .marca_descripcion .costarica>img {
	margin-top: 0;
	max-width: 57%;
}

#content .conagra_latam .marca_descripcion .guatemala {
	width: 45%;
	float: left;
	margin-top: -5%;
	position: absolute;
	height: 120%;
}

#content .conagra_latam .marca_descripcion .guatemala>p {
	margin-top: 0%;
	max-height: 60%;
	overflow: auto;
}

#content .conagra_latam .marca_descripcion .guatemala>img {
	margin-top: 0;
	max-width: 57%;
}


#content .conagra_latam .latam_mapa .customSelect select{
	background: transparent;
	padding: 5px;
	line-height: 1;
	-webkit-appearance: none;
	width: 100%;
	font-size: 18px;
 }

#content .conagra_latam  .latam_mapa .customSelect {
    overflow: hidden;
	background: url(../images/conagralatam/arrow_black_up.png) no-repeat right 10px center;
	bottom: 0;
	left: 50%;
	position: absolute;
	background-size: 13%;
	width: 13%;
}


.latam_mapa {
	float: right;
	margin-top: -12%;
	margin-right: 25%;
}

img.marca_descripcion {
	
}

#content .quien_es {
	height: 100%;
}

#content .quien_es .mainTitle {
	margin: 0 0 30px 0;
}

#content .quien_es .boxes {
	padding: 0;
	margin-bottom: 30px;
}

#content .quien_es img.commercialFoods {
	max-width: 80%;
}

#content .quien_es.privateLabel .privateLabelContent {
	height: 85%;
}

#content .quien_es.privateLabel .privateLabelContent .box1 {
	position: absolute;
	max-width: 40%;
	left: 4%;
	z-index: 3;
}

#content .quien_es.privateLabel .privateLabelContent .box1 p {
	position: absolute;
	width: 73%;
	top: 28%;
	left: 6%;
	font-size: 1.2vw;
}

#content .quien_es.privateLabel .privateLabelContent .box2 {
	max-width: 40%;
	position: absolute;
	left: 39%;
	z-index: 2;
}

#content .quien_es.privateLabel .privateLabelContent .box2 p {
	position: absolute;
	width: 77%;
	top: 15%;
	left: 13%;
	font-size: 1.2vw;
}

#content .quien_es.privateLabel .privateLabelContent .background {
	position: absolute;
	bottom: 0;
	z-index: 4;
}

#content .quien_es.ourPurpose img, #content .quien_es.quienEsConagra img,
	#content .quien_es.operationsReport img {
	max-height: 100%;
}

#content .quien_es.ourPurpose .img-container {
	background: url(../images/quienesconagra/our_purpose.png) no-repeat;
	size: cover;
	background-size: contain;
	max-width: 70%;
	height: 100%;
	background-position-x: 50%;
}

#content .quien_es.ourPurpose .customDiv_foreground {
	width: 55%;
}

#content .quien_es.ourPurpose .customDiv_foreground .text {
	position: absolute;
	top: 30%;
	left: 4%;
	font-family: 'hand_of_sean_demoregular';
	font-size: 18px;
	color: #a3a2a2;
	width: 85%;
}

#content .quien_es.ourPurpose .customDiv_foreground .products {
	position: relative;
	bottom: -60%;
	max-width: 110%;
	left: -5%;
}
#content .quien_es.marcaConsumo .customDiv_foreground {
	width: 60%;
}
#content .quien_es.marcaConsumo .customDiv_foreground .products {
	position: relative;
	bottom: -71%;
	max-width: 80%;
	left: 8%;
}
#content .quien_es.marcaConsumo .customDiv_foreground .text {
	position: absolute;
	top: 23%;
	left: 4%;
	font-size: 13px;
}
#content .quien_es.marcaConsumo .customDiv_foreground ul{
	position: absolute;
	top: 43%;
	left: 7%;
	list-style: initial;
	font-size: 12px;
}
#content .quien_es.marcaConsumo .customDiv_foreground .asterisk{
	position: absolute;
	top: 62%;
	left: 4%;
	font-size: 12px;
}
#content .quien_es.marcaConsumo img {
	max-height: 90%;
}

#content .quien_es.clasesDeMarcas {
	display: table;
	width: 100%;
}

#content .quien_es.clasesDeMarcas .brands-container {
	display: table-cell;
	vertical-align: middle;
	padding-bottom: 80px;
}

#content .quien_es.clasesDeMarcas .brands li {
	background: url(../images/quienesconagra/menu_background.png) no-repeat;
	-webkit-filter: none;
	width: 237px;
	height: 141px;
}

#content .quien_es.clasesDeMarcas .brands li a {
	font-family: 'hand_of_sean_demoregular';
	font-size: 24px;
	color: #5c5c5c;
	margin: 40px 0 0 -15px;
	display: inline-flex;
	max-width: 70%;
}

#content .quien_es.clasesDeMarcas .brands li:last-child a {
	position: relative;
	top: 16px;
}

#content .quien_es.clasesDeMarcas .brands li a:hover {
	color: #8c8f35;
	text-decoration: none;
}

#content .quien_es.marcaConsumo img {
	max-height: 90%;
}

#content .quien_es.clasesDeMarcas {
	display: table;
	width: 100%;
}

.commercialFoodsBackground {
	position: fixed;
	bottom: 30px;
	right: 0;
}

#content .infoBrand {
	margin-bottom: 100px;
}

#content .infoBrand.swissmiss {
	margin-left: 16%;
}

#content .infoBrand .tabs {
	height: 60px;
	width: 65%;
}

#content .infoBrand.swissmiss .tabs {
	width: 81%;
}

#content .infoBrand .tabs ul {
	height: 100%;
	margin: 0;
	float: right;
	margin-right: 25px;
}

#content .infoBrand .tabs ul li {
	height: 100%;
	float: left;
}

#content .infoBrand .tabs ul li a {
	height: 100%;
	display: block;
}

#content .infoBrand .tabs ul li a.infoMarca {
	width: 130px;
	background: url(../images/infoBrand/tab_blue.png) no-repeat;
	background-position: 0 0;
}

#content .infoBrand .tabs ul li a.infoMarca:hover, #content .infoBrand .tabs ul li a.infoMarca.active
	{
	background-position: 0 -61px;
}

#content .infoBrand .tabs ul li a.catalogo {
	width: 135px;
	background: url(../images/infoBrand/tab_blue.png) no-repeat;
	background-position: -130px 0;
}

#content .infoBrand .tabs ul li a.catalogo:hover, #content .infoBrand .tabs ul li a.catalogo.active
	{
	background-position: -130px -61px;
}

#content .infoBrand .tabs ul li a.manual {
	width: 119px;
	background: url(../images/infoBrand/tab_blue.png) no-repeat;
	background-position: -265px 0;
}

#content .infoBrand .tabs ul li a.manual:hover, #content .infoBrand .tabs ul li a.manual.active
	{
	background-position: -265px -61px;
}

/* GREEN */
#content .infoBrand .tabs ul li a.infoMarca.green {
	width: 131px;
	background: url(../images/infoBrand/tab_green.png) no-repeat;
	background-position: 0 0;
}

#content .infoBrand .tabs ul li a.infoMarca.green:hover, #content .infoBrand .tabs ul li a.infoMarca.green.active
	{
	background-position: 0 -61px;
}

#content .infoBrand .tabs ul li a.catalogo.green {
	width: 135px;
	background: url(../images/infoBrand/tab_green.png) no-repeat;
	background-position: -131px 0;
}

#content .infoBrand .tabs ul li a.catalogo.green:hover, #content .infoBrand .tabs ul li a.catalogo.green.active
	{
	background-position: -131px -61px;
}

#content .infoBrand .tabs ul li a.manual.green {
	width: 119px;
	background: url(../images/infoBrand/tab_green.png) no-repeat;
	background-position: -266px 0;
}

#content .infoBrand .tabs ul li a.manual.green:hover, #content .infoBrand .tabs ul li a.manual.green.active
	{
	background-position: -266px -61px;
}

/**/
/* YELLOW */
#content .infoBrand .tabs ul li a.infoMarca.yellow {
	width: 131px;
	background: url(../images/infoBrand/tab_yellow.png) no-repeat;
	background-position: 0 0;
}

#content .infoBrand .tabs ul li a.infoMarca.yellow:hover, #content .infoBrand .tabs ul li a.infoMarca.yellow.active
	{
	background-position: 0 -61px;
}

#content .infoBrand .tabs ul li a.catalogo.yellow {
	width: 135px;
	background: url(../images/infoBrand/tab_yellow.png) no-repeat;
	background-position: -131px 0;
}

#content .infoBrand .tabs ul li a.catalogo.yellow:hover, #content .infoBrand .tabs ul li a.catalogo.yellow.active
	{
	background-position: -131px -61px;
}

#content .infoBrand .tabs ul li a.manual.yellow {
	width: 119px;
	background: url(../images/infoBrand/tab_yellow.png) no-repeat;
	background-position: -266px 0;
}

#content .infoBrand .tabs ul li a.manual.yellow:hover, #content .infoBrand .tabs ul li a.manual.yellow.active
	{
	background-position: -266px -61px;
}

/* RED */
#content .infoBrand .tabs ul li a.infoMarca.red {
	width: 131px;
	background: url(../images/infoBrand/tab_red.png) no-repeat;
	background-position: 0 0;
}

#content .infoBrand .tabs ul li a.infoMarca.red:hover, #content .infoBrand .tabs ul li a.infoMarca.red.active
	{
	background-position: 0 -61px;
}

#content .infoBrand .tabs ul li a.catalogo.red {
	width: 135px;
	background: url(../images/infoBrand/tab_red.png) no-repeat;
	background-position: -131px 0;
}

#content .infoBrand .tabs ul li a.catalogo.red:hover, #content .infoBrand .tabs ul li a.catalogo.red.active
	{
	background-position: -131px -61px;
}

#content .infoBrand .tabs ul li a.manual.red {
	width: 119px;
	background: url(../images/infoBrand/tab_red.png) no-repeat;
	background-position: -266px 0;
}

#content .infoBrand .tabs ul li a.manual.red:hover, #content .infoBrand .tabs ul li a.manual.red.active
	{
	background-position: -266px -61px;
}

/**/
#content .infoBrand .info {
	height: 326px;
	position: relative;
}

#content .infoBrand .info>img.logo {
	position: absolute;
	top: -48px;
	left: 20px;
	z-index: 999;
}

#content .infoBrand.wesson .info>img.logo {
	top: -19px;
}

#content .infoBrand.pam .info>img.logo {
	top: -27px;
	left: 38px;
}

#content .infoBrand .info .mainInfo {
	position: relative;
	float: left;
	width: 65%;
	height: 100%;
	padding: 60px 120px 45px 45px;
	background: url(../images/infoBrand/info_background.png) no-repeat;
	background-size: cover;
	-webkit-filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.4));
	filter: drop-shadow(0px 8px 7px rgba(0, 0, 0, 0.4));
	-ms-filter:
		"progid:DXImageTransform.Microsoft.Dropshadow(OffX=8, OffY=7,Color='#000000')";
	filter:
		"progid:DXImageTransform.Microsoft.Dropshadow(OffX=8, OffY=7, Color='#000000')";
}

#content .infoBrand.act2 .info .mainInfo {
	padding: 50px 120px 45px 45px;
}

#content .infoBrand.swissmiss .info .mainInfo {
	background: url(../images/infoBrand/info_swissmiss_background.png)
		no-repeat;
	width: 78%;
}

#content .infoBrand.pam .info .mainInfo {
	background: url(../images/infoBrand/info_pam_background.png) no-repeat;
}

#content .infoBrand.peterpan .info .mainInfo {
	background: url(../images/infoBrand/info_peterpan_background.png)
		no-repeat;
}

#content .infoBrand.snackpack .info .mainInfo {
	background: url(../images/infoBrand/info_snackpack_background.png)
		no-repeat;
}

#content .infoBrand.wesson .info .mainInfo {
	background: url(../images/infoBrand/info_wesson_background.png)
		no-repeat;
}

#content .infoBrand.hunts .info .mainInfo {
	background: url(../images/infoBrand/info_hunts_background.png) no-repeat;
}

#content .infoBrand .info .mainInfo h3 {
	font-family: 'hand_of_sean_demoregular';
	font-size: 18px;
	color: #0070bd;
}

#content .infoBrand .info .mainInfo.green h3 {
	font-family: 'hand_of_sean_demoregular';
	font-size: 18px;
	color: #5d9f4e;
	margin-top: 0px;
	margin-bottom: 10px;
}

#content .infoBrand .info .mainInfo.red h3 {
	font-family: 'hand_of_sean_demoregular';
	font-size: 18px;
	color: #cb2432;
	margin-top: 0px;
	margin-bottom: 30px;
}

#content .infoBrand .info .mainInfo.red h4 {
	font-size: 16px;
	font-weight: bold;
	color: #cb2432;
}

#content .infoBrand .info .mainInfo .infoMarca .infoContent {
	overflow: auto;
	max-height: 165px;
	margin: 0;
}

#content .infoBrand.act2 .info .mainInfo .infoMarca .infoContent {
	max-height: 204px;
}

#content .infoBrand.act2 .catalogo h3 {
	margin-top: 5px;
}

#content .infoBrand .infoContent .catalogoContent.act2 a img {
	padding-right: 15px;
	height: 97px;
	margin-top: 6px;
}

#content .infoBrand .infoContent .catalogoContent.kroritos a img {
	margin-right: 20px;
	margin-top: 20px;
}

#content .infoBrand .infoContent .catalogoContent.tripack a img {
	padding-right: 21px;
	height: 97px;
	margin-top: 6px;
}

#content .infoBrand .info .mainInfo .catalogo .infoContent {
	/*height: 230px !important;*/
	max-height: 230px;
	min-height: 220px;
}

#content .infoBrand .info .mainInfo .catalogo .catalogoMenu {
	position: absolute;
	top: 15px;
	right: 90px;
}

#content .infoBrand .info .mainInfo .catalogo .catalogoMenu li {
	float: left;
	margin-right: 20px;
}

#content .infoBrand .info .mainInfo .catalogo .catalogoMenu li a {
	font-family: Roboto, sans-serif;
	font-size: 12px;
	color: #03b4f8;
}

#content .infoBrand.hunts .info .mainInfo .catalogo .catalogoMenu li a,
	#content .infoBrand.wesson .info .mainInfo .catalogo .catalogoMenu li a
	{
	color: #63aa5d;
}

#content .infoBrand .info .mainInfo .catalogo .catalogoMenu li a.active
	{
	text-decoration: underline;
}

#content .infoBrand.wesson .info .mainInfo .catalogo .slimScrollDiv {
	height: 230px !important;
}

#content .infoBrand .info .mainInfo p {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

#content .infoBrand .info .mainInfo .downloads {
	margin-top: 20px;
}

#content .infoBrand .info .mainInfo .downloads .downloadItem {
	font-family: 'Roboto', sans-serif;
	float: left;
	background: url(../images/download-icon.png) no-repeat;
	background-position: 0 3px;
	padding-left: 40px;
	margin-right: 60px;
}

#content .infoBrand .info .mainInfo .downloads .downloadItem a.name {
	color: #4f4f4f;
}

#content .infoBrand .info .mainInfo .downloads .downloadItem .fileInfo {
	color: #9e9e9e;
	font-size: 12px;
	margin: 0;
}

#content .infoBrand .info .otherData {
	position: relative;
	float: left;
	width: 332px;
	height: 340px;
	background: url(../images/infoBrand/other_data_box.png) no-repeat;
	margin-left: -85px;
	color: #FFFFFF;
	padding: 28px;
	-webkit-filter: drop-shadow(0px 8px 7px rgba(0, 0, 0, 0.4));
	filter: drop-shadow(0px 8px 7px rgba(0, 0, 0, 0.4));
	-ms-filter:
		"progid:DXImageTransform.Microsoft.Dropshadow(OffX=8, OffY=7,Color='#000000')";
	filter:
		"progid:DXImageTransform.Microsoft.Dropshadow(OffX=8, OffY=7, Color='#000000')";
}

#content .infoBrand .info .otherData.red {
	background: url(../images/infoBrand/other_data_box_red.png) no-repeat;
}

#content .infoBrand .info .otherData.green {
	background: url(../images/infoBrand/other_data_box_green.png) no-repeat;
}

#content .infoBrand .info .otherData.yellow {
	background: url(../images/infoBrand/other_data_box_yellow.png) no-repeat;
}

#content .infoBrand .info .otherData .arrowScroll, .otherData_m .arrowScroll
	{
	position: absolute;
	bottom: 8px;
	left: 50%;
	margin-left: -14px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity = 20);
	-moz-opacity: 0.2;
	-khtml-opacity: 0.2;
	opacity: 0.2;
}

#content .infoBrand .info .otherData h3 {
	font-family: 'hand_of_sean_demoregular';
	font-size: 22px;
	margin: 10px 0 5px 0;
	padding-left: 55px;
	height: 50px;
	line-height: 38px;
	background: url(../images/infoBrand/asterisk_blue.png) no-repeat;
}

#content .infoBrand .info .otherData.red h3 {
	background: url(../images/infoBrand/asterisk_red.png) no-repeat;
}

#content .infoBrand .info .otherData.green h3 {
	background: url(../images/infoBrand/asterisk_green.png) no-repeat;
}

#content .infoBrand .info .otherData.yellow h3 {
	background: url(../images/infoBrand/asterisk_yellow.png) no-repeat;
}

#content .infoBrand.wesson .info .mainInfo.green .catalogo h3 {
	margin: 0;
}

#content .infoBrand.snackpack .info .otherData a {
	font-size: 14px;
	padding-left: 25px;
	text-decoration: none;
	color: #FFFFFF;
	background: url(../images/infoBrand/star.png) no-repeat center left;
}

#content .infoBrand .info .otherData .otherContent {
	margin-top: 10px;
	font-family: 'Roboto', sans-serif;
	line-height: 16px;
	-webkit-box-shadow: 0px -18px 18px -16px rgba(50, 50, 50, 0.30);
	-moz-box-shadow: 0px -18px 18px -16px rgba(50, 50, 50, 0.30);
	box-shadow: 0px -18px 18px -16px rgba(50, 50, 50, 0.30);
	padding-top: 20px;
}

#content .infoBrand.peterpan .info .otherData .otherContent {
	font-size: 13px;
	line-height: 14px;
}

#content .infoBrand.pam .info .otherData .otherContent {
	font-size: 13px;
	line-height: 14px;
	overflow-y: auto;
	overflow-x: hidden;
	height: 214px;
}

#content .infoBrand.pam .info .otherData .otherContent p {
	padding-left: 23px;
}

#content .infoBrand .info .otherData .otherContent ul {
	list-style: initial;
	margin-left: 25px;
	width: 82%;
}

#content .infoBrand .info .otherData .otherContent ul li {
	margin-bottom: 10px;
}

#content .infoBrand .social {
	position: relative;
}

#content .infoBrand .social ul {
	margin: 0;
	position: absolute;
	left: 36px;
	top: 12px;
}

#content .infoBrand .social ul li {
	float: left;
	margin-right: 6px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity = 60);
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;
}

#content .infoBrand .social ul li:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

#content .quien_es .timelineContainer {
	margin-top: 15%;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

#content .quien_es .timeline {
	
}

#content .quien_es .timelineArrows {
	text-align: center;
	margin-top: 50px;
}

#content .quien_es .timelineArrows a {
	display: inline-block;
}

#content .quien_es .timelineArrows a:first-child {
	margin-right: 100px;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

#content .quien_es .circlemenu {
	
}

.circlemenu {
	width: 100%;
	overflow: hidden;
	position: absolute;
	top: 0%;
}

.circlemenu ul {
	margin: 0;
	padding: 0;
	font: bold 14px Verdana;
	list-style-type: none;
	text-align: center; /* "left", "center", or "right" align menu */
}

.circlemenu li {
	display: inline;
	margin: 0;
}

.circlemenu li a {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: white;
	background: #918786;
	margin: 0;
	margin-right: 5px; /*right spacing between each link */
	width: 10px;
	height: 10px;
	border-radius: 400px;
	/*really large border radius to create round borders*/
	-moz-border-radius: 400px;
	-webkit-border-radius: 400px;
}

.circlemenu a span {
	position: relative;
	top: 40%;
}

.circlemenu li a:visited {
	color: white;
}

.circlemenu a:hover {
	background: #e9e9e9;
}

.circlemenu a:active {
	background: black;
}

#content .quien_es .timeline .circle {
	cursor: pointer;
}

.upClick img {
	ms-transform: rotate(7deg);
	-webkit-transform: rotate(7deg);
	transform: rotate(177deg);
}

/* next and previous button*/
.quien_es a.previousButton {
	background-image: url("../images/sprite.png");
	background-repeat: no-repeat;
	background-position: 5% 100%;
	width: 68px;
	height: 37px;
	position: absolute;
	top: 87%;
	left: 0%;
}

.quien_es a.nextButton {
	background-image: url("../images/sprite.png");
	background-repeat: no-repeat;
	background-position: 94% 100%;
	width: 68px;
	height: 37px;
	position: absolute;
	top: 87%;
	left: 90%;
}

.quien_es a.previousButton:hover {
	background-position: 5% 0%;
}

.quien_es a.nextButton:hover {
	background-position: 94% 0%;
}

.quien_es .popover.fade {
	width: 220px;
	opacity: 0.9;
	padding: 0;
	border-radius: 7px;
	background: none;
	border: none;
	box-shadow: none;
} /*
.quien_es.many-stories .popover.fade{
	width: 116px;
}
.quien_es.quick-facts .popover.fade{
	width: auto;
}*/
.quien_es .popover.top>.arrow {
	border-top-color: #8f9240 !important;
	opacity: 0.8;
}

.quien_es .popover.top>.arrow:after {
	border-top-color: #8f9240 !important;
}

.quien_es .popover-title {
	float: left;
	line-height: 30px;
	padding: 4px 5px;
	background-color: #8d903d;
	border-color: none;
	border-bottom: none;
	border-radius: 0;
	color: #fff;
	border-radius: 5px 0px 0px 5px;
}

.quien_es .popover-content {
	float: left;
	background-color: #8f9240;
	opacity: 0.8;
	color: #fff;
	padding: 9px 6px;
	border-bottom-right-radius: 6px;
	border-top-right-radius: 6px;
}
/* promociones */
.promociones {
	height: 100%
}

#content.promocionesContent {
	width: 100%;
	left: 0;
}

.promociones .mainTitle {
	margin: 0 !important;
}

.promociones .contenido {
	height: 85%;
	position: relative;
}

.promociones .cuadroPromociones {
	height: 480px;
	overflow: auto;
	/*background-image: url("../images/promociones/cuadro_promociones.png");
	background-repeat: no-repeat;*/
}

.promociones .bottonScroll {
	margin-left: 47%;
	margin-top: 17px;
}

.promociones .degrade {
	position: absolute;
	bottom: 5%;
	background-image: url("../images/promociones/degrade.png");
	background-repeat: no-repeat;
	height: 20px;
	background-size: cover;
	width: 96%;
}

.promociones .promo-mobile {
	margin-top: 13px;
	height: 100%;
}

.promociones .promo-mobile .colIzq {
	height: 100%;
}

.promociones .promo-mobile .brands {
	text-align: center;
	margin-top: 25px;
	height: 9%;
}

.promociones .promo-mobile .brands span {
	color: #7d7d7d;
	font-size: 15px;
	font-weight: bold;
}

.promociones .promo-mobile .marcas {
	height: 82%;
	margin-top: 6%;
}

.promociones .promo-mobile .tables {
	height: 100%;
	padding: 0;
}

.promociones .promo-mobile .table {
	height: 100%;
}

.promociones .promo-mobile .table img {
	height: 100%;
}

.promociones .promo-mobile .marca {
	height: 14.5%;
	background-color: #f1f1f1;
	border-bottom: 2px solid #e7e7e7;
	padding-top: 9px;
}

.promociones .promo-mobile .marca img {
	height: 100%;
}

.promociones .carousel {
	height: 100%;
}

.promociones .carousel-inner {
	height: 100%;
}

.promociones .carousel-control.left {
	background: none !important;
	background-image: none !important;
	height: 20px;
	left: -12%;
	top: 6%;
}

.promociones .carousel-control.right {
	background: none !important;
	background-image: none !important;
	height: 20px;
	top: 6%;
	right: 13%;
	z-index: 9999;
}

.promociones .carousel-control {
	text-shadow: 0 !important;
	color: #0B0A0A !important;
}

.customDiv_foreground {
	/* margin: 0 auto; */
	/* transform: rotate(7deg); */
	/* -ms-transform: rotate(7deg); */
	/* -webkit-transform: rotate(7deg); */
	position: absolute;
	width: 59%;
	height: 75%;
	background-color: white;
	left: 20%;
	border-radius: 35px;
 	background: white url("../images/big_fruit.png") no-repeat;
	background-position: 100% 4vh;
	background-size: 41%;
	
}

.customInfoBox {
	position: absolute;
	width: 76%;
	height: 95%;
	background-color: #FFFFFF;
	left: 50%;
	margin-left: -38%;
  	border-radius: 15px;
	border-bottom: 4px solid #bfbfbf;
  	-webkit-border-radius: 15px;
	-webkit-box-shadow: 0px 17px 30px 5px rgba(50, 50, 50, 0.30);
  	-moz-box-shadow: 0px 17px 30px 5px rgba(50, 50, 50, 0.30);
	box-shadow: 0px 17px 30px 5px rgba(50, 50, 50, 0.30);	
}

.customInfoBox.withoutRadiusTop {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.customInfoBox.withoutBorder3D {
	border-bottom:0;
}

.customInfoBox .headerImage {
	width: 100%;
}

.customInfoBox .title {
	font-family: 'hand_of_sean_demoregular';
	font-size: 24px;
	color: #b6211d;
	text-align: center;
}

#content .customInfoBox .mainTitle {
	margin: 20px 30px;
}

.customInfoBox p {
	color: #3b3b3b;
	padding: 0 30px;
	font-size: 13px;
}
.arrowButton{
	position: absolute;
	width: 88px;
	height: 61px;
	bottom: 5%;
	right: 0;
	
}
.arrowButton.nextArrow {
	background-image: url("../images/arrowButtonRight.png");
	background-repeat: no-repeat;
	bottom: 5%;
	right: 0;
}
.arrowButton.prevArrow{
	background-image: url("../images/arrowButtonLeft.png");
	background-repeat: no-repeat;
	left:0%;
	bottom: 5%;
}
.customDiv_foreground p:nth-child(1) {
	position: absolute;
	top: 7%;
	left: 4%;
}

.customDiv_foreground p:nth-child(3) {
	top: 42%;
	position: absolute;
	left: 4%;
	font-size: 1vmax;
}

.customDiv_foreground h3 {
	position: absolute;
	font-family: 'hand_of_sean_demoregular';
	font-size: 18px;
	top: 15%;
	left: 4%;
}

.customDiv_green_1 {
	position: absolute;
	/* margin: 0 auto; */
	min-width: 66px;
	z-index: -2;
	left: -1%;
	transform: rotate(7deg);
	-ms-transform: rotate(7deg);
	-webkit-transform: rotate(-9deg);
	width: 8%;
	top: 6%;
	height: 86%;
	background-color: rgb(149, 155, 45);
	border-radius: 35px;
}

.customDiv_green_2 {
	position: absolute;
	/* margin: 0 auto; */
	z-index: -2;
	/* min-width: 30px; */
	left: 2.7%;
	transform: rotate(7deg);
	-ms-transform: rotate(7deg);
	-webkit-transform: rotate(-8deg);
	width: 56%;
	bottom: -3%;
	height: 21%;
	background-color: rgb(149, 155, 45);
	border-radius: 35px;
}
