html, body {
    margin: 0;
    padding: 0;
    height:100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
    text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

body {
	background: url(../images/background.jpg) no-repeat;
	background-size: cover;
	background-position: bottom center;
}

.wrapper {	
	height: 100%;
	position: relative;
}

header .navbar-default {
	background: none;
	border: none;	
}

header .navbar .navbar-brand {
	padding: 38px 0;
	height: auto;	
} 

header .navbar-nav {
	float: right;	
}

header .navbar-nav > li {
	display: table;
	width: 130px;
	height: 123px;
}

header .navbar-nav > li > a {	
	display: table-cell;
	height: 100%;
	vertical-align: middle;
	color: #333333;
	padding: 0;
}

header .navbar-default .navbar-nav>.active>a, 
header .navbar-default .navbar-nav>.active>a:hover, 
header .navbar-default .navbar-nav>.active>a:focus {
	background: none;
}

header .navbar-nav > li > a span {
	display: block;
	display: table-cell;
	height: 42px;
	padding: 0 15px;
	border-left: 1px solid #333333;
	vertical-align: middle;
}

header .navbar-default .navbar-nav>.active>a span, 
header .navbar-default .navbar-nav>.active>a:hover span, 
header .navbar-default .navbar-nav>.active>a:focus span {
	border-left: 1px solid;
	
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	left:0;
}

.content-image {
	height:100%;
    width: 100%;
}

#content {
	position: absolute;
	top: 181px;
	bottom: 31px;
	width: 100%;
	overflow: visible;
}

#content .mainTitle {
	font-family: 'hand_of_sean_demoregular';
	margin: 0 0 20px 0;
	font-size: 22px;
	padding-left: 40px;
	background: url(../images/fruit.png) no-repeat;
	background-size: contain;
	background-position: left center;
}

#content .brands-container {
	margin-top: 80px;
}

#content .brands-container ul.brands {
	text-align: center;
}

#content .brands-container ul.brands li {
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
	
	-webkit-filter: drop-shadow(10px 10px 14px rgba(0, 0, 0, 0.7));
	filter: drop-shadow(10px 10px 14px 0px rgba(0, 0, 0, 0.32)); /*url(shadow.svg#drop-shadow);*/
	-ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=10, OffY=10,Color='#000000')";
	filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=10, OffY=10, Color='#000000')";
}

.marca_descripcion
{
	float:left;	
	
}

.latam_mapa{
	float:right;	
	margin-top:-9%;
}

img.marca_descripcion{
	
}

#content .infoBrand {
	margin-bottom: 100px;
}

#content .infoBrand .tabs {
	height: 60px;
	width: 65%;
}

#content .infoBrand .tabs ul {
	height: 100%;
	margin: 0;
	float: right;
	margin-right: 25px;
}

#content .infoBrand .tabs ul li {
	height: 100%;
	float: left;
}

#content .infoBrand .tabs ul li a {
	height: 100%;
	display: block;
}

#content .infoBrand .tabs ul li a.infoMarca {
	width: 130px;
	background: url(../images/infoBrand/tab_blue_info.png) no-repeat;
}

#content .infoBrand .tabs ul li a.infoMarca:hover,
#content .infoBrand .tabs ul li a.infoMarca.active {
	background: url(../images/infoBrand/tab_blue_info_selected.png) no-repeat;
}
	
#content .infoBrand .tabs ul li a.catalogo {
	width: 135px;
	background: url(../images/infoBrand/tab_blue_catalogo.png) no-repeat;
}

#content .infoBrand .tabs ul li a.catalogo:hover,
#content .infoBrand .tabs ul li a.catalogo.active {
	background: url(../images/infoBrand/tab_blue_catalogo_selected.png) no-repeat;
}

#content .infoBrand .tabs ul li a.manual {
	width: 119px;
	background: url(../images/infoBrand/tab_blue_manual.png) no-repeat;
}

#content .infoBrand .tabs ul li a.manual:hover,
#content .infoBrand .tabs ul li a.manual.active {
	background: url(../images/infoBrand/tab_blue_manual_selected.png) no-repeat;
}

#content .infoBrand .info {
	height: 326px;
	position: relative;
}

#content .infoBrand .info > img.logo {
	position: absolute;
	top: -48px;
	left: 20px;
	z-index: 999;
}

#content .infoBrand .info .mainInfo {
	float: left;
	width: 65%;
	height: 100%;
	padding: 60px 120px 45px 45px;
	background: url(../images/infoBrand/info_background.png) no-repeat;
	background-size: cover;
	-webkit-filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.4));
	filter: drop-shadow(0px 8px 7px rgba(0, 0, 0, 0.4));
	-ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=8, OffY=7,Color='#000000')";
	filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=8, OffY=7, Color='#000000')";
}

#content .infoBrand .info .mainInfo h3 {
	font-family: 'hand_of_sean_demoregular';
	font-size: 18px;
	color: #0070bd;
}

#content .infoBrand .info .mainInfo .infoContent {
	overflow: auto;
	height: 180px;
	margin: 0;
}

#content .infoBrand .info .mainInfo p {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

#content .infoBrand .info .otherData {
	float: left;
	width: 332px;
	height: 340px;
	background: url(../images/infoBrand/other_data_box.png) no-repeat;
	margin-left: -85px;
	color: #FFFFFF;
	padding: 28px;
	-webkit-filter: drop-shadow(0px 8px 7px rgba(0, 0, 0, 0.4));
	filter: drop-shadow(0px 8px 7px rgba(0, 0, 0, 0.4));
	-ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=8, OffY=7,Color='#000000')";
	filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=8, OffY=7, Color='#000000')";
}

#content .infoBrand .info .otherData h3 {
	font-family: 'hand_of_sean_demoregular';
	font-size: 22px;
	margin: 10px 0 5px 0;
	padding-left: 55px;
	height: 50px;
	line-height: 38px;
	background: url(../images/infoBrand/asterisk_blue.png) no-repeat;
}

#content .infoBrand .info .otherData .otherContent {
	margin-top: 10px;
	font-family: 'Roboto', sans-serif;
	line-height: 16px;
	-webkit-box-shadow: 0px -18px 18px -16px rgba(50, 50, 50, 0.30);
	-moz-box-shadow: 0px -18px 18px -16px rgba(50, 50, 50, 0.30);
	box-shadow: 0px -18px 18px -16px rgba(50, 50, 50, 0.30);
	padding-top: 20px;
}

#content .infoBrand .info .otherData .otherContent ul {
	list-style: initial;
	margin-left: 25px;
	width: 82%;
}

#content .infoBrand .info .otherData .otherContent ul li {
	margin-bottom: 10px;
}
