
/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	
	/* Commercial Foods */
	.commercial_foods_mobile {
			display:none;
	}
	
	#content .quien_es img.commercialFoods {
		max-width: 100%;
	}
	
	/* END Commercial Foods */
	
	/* Private label */
	
	#content  .quien_es.privateLabel a:nth-child(1) img{
		display:none;
	}	
	/* END Private label */
	.planogramas.pam .generales .images {
		margin-top:0%;
	}
	
	.planogramas.act2.sugerido2 .img1 img{
		float:right;
	}
	.planogramas.act2.sugerido2 .img2 img{
		float:left;
	}
	.planogramas.act2.sugerido4 .firstDivImage img{
		float:right;
	}
	.planogramas.act2.sugerido4 .secondDivImage img{
		float:left;
	}
	.planogramas.peterpan.sugerido2 .img1 img{
		float:right;
	}
	.planogramas.peterpan.sugerido2 .img2 img{
		float:left;
	}
	.planogramas.pam.sugerido3 .mainTitle {
		margin: 0px 0 19px 0 !important;
	}
	.planogramas.wesson.sugerido3 .img1 img{
		float:right;
	}
	.planogramas.wesson.sugerido3 .img2 img{
		float:left;
	}	
	.planogramas.snackpack.sugerido3 .img1 img{
		float:right;
	}
	.planogramas.snackpack.sugerido3 .img2 img{
		float:left;
	}
	.act_background{
		background-position: 82% 100%;
		background-size: 27%;
	}
	.planogramas.snackpack.snackpack_background {
		background-position: 100% 110% !important;
		background-size: 45% !important;
	}
	header .navbar-nav > li.home {
		width: 85px;
	}
}


/* Bootrstrap max MD (> 992 && <= 1200) */
@media only screen and (max-width : 1200px)  
{
	.quienesconagra .quienes_09 .marcasComerciales p{
	  font-size: 12px;
	}
	.quienesconagra .quienes_09 .marcasComerciales .marca1 p{
	  bottom: 25%;
	}	
	.quienesconagra .quienes_09 .marcasComerciales .marca2 p{
	  bottom: -3%;
	}	
	.quienesconagra .quienes_09 .marcasComerciales .marca3 p{
	  bottom: 16%;
	}		
	.quienesconagra .quienes_09 .marcasComerciales .marca4 p{
	  bottom: 25%;
	}		
	.quienesconagra .quienes_09 .marcasComerciales .marca5 p{
	  bottom: 25%;
	}	
	#content {
		width: 940px;
	}
	
	/* quick Facts */
	#content .quien_es .row div:last-of-type img {
			margin-left:-15%;
	}
	/* end Quick Facts */
	
	/* Commercial Foods */
	.commercial_foods_mobile {
			display:none;
	}
	
	#content .quien_es.commercial_foods{
		display:block;
	}
	
	/* END Commercial Foods */
	
		/* Private label */
	
	#content  .quien_es.privateLabel a:nth-child(1) img{
		display:none;
	}
		
	/* END Private label */
	
	/* planogramas */ 
	.planogramas.peterpan .generales .images {
		margin-top: 7% !important;
	}
	.planogramas.pam .generales .images {
		margin-top: 0% !important;
	}	
	.planogramas.wesson .generales .contenido {
		margin-top: -2% !important;
	}
	
	.planogramas.peterpan .generales {
		background-position: 55% 68%, 100% 68% !important;
	}
	.planogramas.act2.sugerido2 .img1 img{
		float:right;
	}
	.planogramas.act2.sugerido2 .img2 img{
		float:left;
	}
	.planogramas.act2.sugerido4 .firstDivImage img{
		float:right;
	}
	.planogramas.act2.sugerido4 .secondDivImage img{
		float:left;
	}	
	.planogramas.peterpan.sugerido2 .img1 img{
		float:right;
	}
	.planogramas.peterpan.sugerido2 .img2 img{
		float:left;
	}
	.planogramas.wesson.sugerido3 .img1 img{
		float:right;
	}
	.planogramas.wesson.sugerido3 .img2 img{
		float:left;
	}	
	.planogramas.snackpack.sugerido3 .img1 img{
		float:right;
	}
	.planogramas.snackpack.sugerido3 .img2 img{
		float:left;
	}	
	.planogramas.pam.sugerido3 .mainTitle {
		margin: 0px 0 7px 0 !important;
	}
	#content .entrenamiento_marcas .brands-container img, #content .planogramas .brands-container img{
		width: 130%;
	}
	.act_background {
		background-position: 85% 100% !important;
		background-size: 30%;
	}
	header .navbar-nav > li.home {
		width: 55px;
	}
    /*promo*/
    .promociones .slimScrollDiv{
    	height: 369px !important;
    }
	.promociones .cuadroPromociones {
		height: 369px !important;
		overflow: auto;
		margin-top: 15px;
	}
	
	
}
/* Bootrstrap max SM (> 768 && <= 992) */
@media only screen and (max-width : 992px)  
{ 
	.quienesconagra .quienes_09 .marcasComerciales p{
	  font-size: 9px;
	}
	.quienesconagra .quienes_09 .marcasComerciales .marca1 p{
	  bottom: 25%;
	}	
	.quienesconagra .quienes_09 .marcasComerciales .marca2 p{
	  bottom: -3%;
	}	
	.quienesconagra .quienes_09 .marcasComerciales .marca3 p{
	  bottom: 16%;
	}		
	.quienesconagra .quienes_09 .marcasComerciales .marca4 p{
	  bottom: 25%;
	}		
	.quienesconagra .quienes_09 .marcasComerciales .marca5 p{
	  bottom: 25%;
	}	
	header .navbar-nav > li {
		width: 80px;
		font-size: 10px;
	}
	
	header .navbar-nav > li > a {
		line-height: 16px;
	}
	
	#content {
		width: 720px;
	}
	
		/* Commercial Foods */
	.commercial_foods_mobile {
			display:block;
	}
	
	#content .quien_es.commercial_foods{
		display:none;
	}
	
	.planogramas.peterpan .generales .images {
		margin-top: 7% !important;
	}
	.planogramas.pam .generales .images {
		margin-top: 0% !important;
	}	
	.planogramas.wesson .generales .contenido {
		margin-top: -4% !important;
	}
	/* END Commercial Foods */
	
	#content .entrenamiento_marcas .brands-container img, #content .planogramas .brands-container img{
		width: 145%;
	}
	header .navbar-nav > li.home > a span {
		padding: 0px 10px;
	}
}

/* Bootrstrap max XS (<= 768) */ 
@media only screen and (max-width : 768px)  
{ 
	.quienesconagra .quienes_06 .marcas .marca1 img,.quienesconagra .quienes_06 .marcas2 .marca1 img{
		float:none;
	}
	.quienesconagra .quienes_09 .marcasComerciales > div{
	  width: 42%;
	  margin-right: 4%;
	  float:left;
	  position:relative;
	  margin-top:3%;
	}
	.quienesconagra .quienes_09 .marcasComerciales p{
	  font-size: 11px;
	}
	.quienesconagra .quienes_09 .marcasComerciales .marca1 p{
	  bottom: 26%;
	}	
	.quienesconagra .quienes_09 .marcasComerciales .marca2 p{
	  bottom: -2%;
	}	
	.quienesconagra .quienes_09 .marcasComerciales .marca3 p{
	  bottom: 17%;
	}		
	.quienesconagra .quienes_09 .marcasComerciales .marca4 p{
	  bottom: 26%;
	}		
	.quienesconagra .quienes_09 .marcasComerciales .marca5 p{
	  bottom: 26%;
	}		
	header .logout {
		position: absolute;
		top: 10px;
		left:0;
	}
	
	#content {
		width: 90%;
		left: 5%;
	}
	#content .mainTitle {
		margin: 0 0 30px 0;
	}
	/* quick Facts */
	#content .quien_es .row div:last-of-type img {
			margin-left:26.5%;		
	}
	/* END Quick Facts */
	
	/* Commercial Foods */
	.commercial_foods_mobile {
			display:block;
	}
	
	#content .quien_es.commercial_foods{
		display:none;
	}
	
	#content .quien_es .mainTitle{
		margin : 15px 0 10px 0;
		font-size: 15px;
	}
	#content .quien_es .timelineContainer {
		margin-top: 0;
		height: 60vh;
	}
	#content .quien_es.commercial_foods{
		display:none;
	}
	
	.commercialFoodsBackground{
		display:none;
	}	
	
	/* END Commercial Foods */
	
	
	/*width: 100%;
	height: 100%;
	padding-right: 5%;
	padding-top: 13%; */
	/* Private label */
	#content  .quien_es.privateLabel a:nth-child(2){
		display:none;
	}
	
	#content  .quien_es.privateLabel a:nth-child(1) img{
		width: 100%;
		height: 100%;
		padding-right: 5%;
		padding-top: 13%;
		display:block;
	}
		
		
	/* END Private label */
	
	/* Entrenamiento de marcas */
	
	#content .entrenamiento_marcas h1{
	 	margin-bottom:30px;	
	}
	#content .entrenamiento_marcas .infoBrand .info .mainInfo
	{
   	 	width: 104%;
   	 	padding: 0px 120px 45px 13px;	
	}	
	#content .infoBrand.act2 .info .mainInfo {
		padding: 0px 120px 45px 13px;	
	}
	#content  .entrenamiento_marcas .infoBrand .tabs {
		width: 64%;
		float: right;
		margin-right: 2%;
		height: 30px;
	}
	#content  .entrenamiento_marcas .infoBrand .tabs ul {
		height: 100%;
		width: 100%;
		margin: 0;
		float: right;
	}
	#content .entrenamiento_marcas  .infoBrand .info .mainInfo p .description_to_hide{
		display:none;
	}
	#content .entrenamiento_marcas  .infoBrand .social
	{
   	 	width: 100%;
   	 	bottom: 55px;
	}	
	#content .entrenamiento_marcas  .infoBrand .social ul{
		left:30%;
		top:26px;
	}
	#content .entrenamiento_marcas {
		padding-top: 30px;
	}
	#content .infoBrand .info > img.logo{
		top:0;
		left:0;
	}
	
	#content .infoBrand.pam .info > img.logo {
		left: 10px;
	}
	
	#content .infoBrand {
		margin-bottom: 50px;
	}
	#content .infoBrand .info{
		top: -53px;
	}
	.otherData_m {
		float: left;
		position: absolute;
		margin-top: 15%;
		left: 28%;
		width: 95%;
		background: url(../images/infoBrand/other_data_box.png) no-repeat;
		margin-left: -85px;
		color: #FFFFFF;
		padding: 28px;
		-webkit-filter: drop-shadow(0px 8px 7px rgba(0, 0, 0, 0.4));
		filter: drop-shadow(0px 8px 7px rgba(0, 0, 0, 0.4));
		-ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=8, OffY=7,Color='#000000')";
		filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=8, OffY=7, Color='#000000')";
	}
	.otherData_m.red {
		background: url(../images/infoBrand/other_data_box_red.png) no-repeat;
	}
	.otherData_m.green {
		background: url(../images/infoBrand/other_data_box_green.png) no-repeat;
	}
	 .otherData_m.yellow {
		background: url(../images/infoBrand/other_data_box_yellow.png) no-repeat;
	}
	.otherData_m h3 {
		font-family: 'hand_of_sean_demoregular';
		font-size: 22px;
		margin: 10px 0 5px 0;
		padding-left: 55px;
		height: 50px;
		line-height: 38px;
		background: url(../images/infoBrand/asterisk_blue.png) no-repeat;
	}
	.otherData_m.red h3 {
		background: url(../images/infoBrand/asterisk_red.png) no-repeat;
	}
	.otherData_m.green h3 {
		background: url(../images/infoBrand/asterisk_green.png) no-repeat;
	}
	.otherData_m.yellow h3 {
		background: url(../images/infoBrand/asterisk_yellow.png) no-repeat;
	}
	.otherData_m a.asterisk {
		font-size: 14px;
		padding-left: 25px;
		text-decoration:none; 
		color: #FFFFFF;
		background: url(../images/infoBrand/star.png) no-repeat center left;
	}
	.otherData_m .otherContent {
		margin-top: 10px;
		font-family: 'Roboto', sans-serif;
		line-height: 16px;
		-webkit-box-shadow: 0px -18px 18px -16px rgba(50, 50, 50, 0.30);
		-moz-box-shadow: 0px -18px 18px -16px rgba(50, 50, 50, 0.30);
		box-shadow: 0px -18px 18px -16px rgba(50, 50, 50, 0.30);
		padding-top: 20px;
	}
	.info .otherData_m .otherContent{
		font-size: 13px;
		line-height: 14px;
	}
	.otherData_m .otherContent{
		font-size: 13px;
		line-height: 14px;
		overflow-y: auto;
		overflow-x: hidden;
		height: 215px;
	}
	 .otherData_m .otherContent p{
		padding-left:23px;
	}
	.otherData_m .otherContent ul {
		list-style: initial;
		margin-left: 25px;
		width: 82%;
	}
	.otherData_m .otherContent ul li {
		margin-bottom: 10px;
	}
	#content .infoBrand .tabs {	
			width: 64%;
		/* float: right; */
		margin-right: 0%;
		height: 30px;
		top: 57px;
		left: 37%;
		padding-top: -17px;
		position: absolute;
	}
	#content .infoBrand .tabs ul li a.catalogo {
		width: 63px !important;
		background-size:contain !important;
		background-position:bottom !important;
	}
	#content .infoBrand .tabs ul li a.infoMarca{
		width: 60px !important;
		background-size:contain !important;
		background-position:bottom !important;
	}
	#content .infoBrand .tabs ul li a.manual {
		width: 55px !important;
		background-size:contain !important;
		background-position:bottom !important;
	}		
	#content .infoBrand .info > img.logo {
		position: absolute;
		top: -5%;
		left: 1%;
		z-index: 999;
		width: 31%;
	}
	#content .infoBrand .info .mainInfo {
		padding: 0px 111px 36px 15px;
		width: 99%; 
	}
	#content .infoBrand .info .mainInfo {
		padding: 0px 111px 36px 15px;
		width: 99%; 
	}
		#content .infoBrand .info .mainInfo .tabContent{
		padding: 33px 5px 36px 0px;
		width: 150%;; 
	}
	#content .infoBrand .info .mainInfo p {
		font-family: 'Roboto', sans-serif;
		font-size: 12px;
	}
	#content .infoBrand .datosCuriosos{
		top: -85px;
		position: relative;
		width: 60%;
		padding-right: 24px;
		float: right;
	}
	#content .infoBrand .datosCuriosos img {
		width: 100%;
	}
	#content .entrenamiento_marcas .mainTitleContent h1 {
		font-size: 15px;
	}
	#content .entrenamiento_marcas .mainTitleContent  {
		margin-bottom: 63px;
	}
	#content .mainTitleContent .backButton {
		margin-right: 15px;
		font-size: 11px;
		color: #333333;
		top: -15px;
		width: 109px;
		position: absolute;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
		right: -8%;
	}
	
	
	.planogramas.hunts.sugerido5 .img2{
	 	top:0 !important;
	 	margin-bottom:10% !important;;
 	}
	
	#content .entrenamiento_marcas .brands-container img, #content .planogramas .brands-container img{
		width: 130%;
	}
	
	
	#content .entrenamiento_marcas  .brands-container li:last-child img, #content .planogramas .brands-container li:last-child img{
		margin-left: 66%;
	}
	
	
	/* END Entrenamiento de marcas */
	
	/* Conagra Latam */
	
	#content .conagra_latam .mainTitle{
		font-size:15px;
		margin-top: 20px;
	}

	/* END Conagra Latam */
	
	
	#content .entrenamiento_marcas .mainTitle {
	margin: 0 0 30px 0;
	}
 /* planogramas */	
	.planogramas.act2.sugerido2 .img1 img{
		float:none;
	}
	.planogramas.act2.sugerido2 .img2 img{
		float:none;
	}	
	.planogramas.act2.sugerido4 .firstDivImage img{
		float:none;
	}
	.planogramas.act2.sugerido4 .secondDivImage img{
		float:none;
	}		
	.planogramas.peterpan.sugerido2 .img1 img{
		float:none;
	}
	.planogramas.peterpan.sugerido2 .img2 img{
		float:none;
	}	
	.planogramas.wesson.sugerido3 .img1 img{
		float:none;
	}
	.planogramas.wesson.sugerido3 .img2 img{
		float:none;
	}
	.planogramas.snackpack.sugerido3 .img1 img{
		float:none;
	}
	.planogramas.snackpack.sugerido3 .img2 img{
		float:none;
	}	
	.planogramas .generales{
		margin: 0px auto;
	}
	.navbar-brand > img {
		width: 75%;
	}
	/**/
	#content {	
		overflow-y: auto;
		overflow-x: hidden;
	}
	.planogramas .sugerido{
		float:left;
		height: 28px;
	}
	.planogramas .sugerido a img{
		float:left;
		width:14%;
	}
	.planogramas .planoTitle {
		font-family: 'hand_of_sean_demoregular';
		margin: 0 0 80px 0;
		font-size: 16px;
		padding-left: 10px;
		float:left;
	}
	.planogramas .indicaciones {
		font-size: 12px !important;
		margin-bottom: 15px !important;
	}
	.planogramas .logo_m{
		width: 42%;
		margin-bottom: 12px;
		margin-left: 77px;
	}
	/* act2 */
	.act_background {
		background-image:none !important;
	}

	/* hunts*/
	.hunt_background{
		background-image:none !important;	
	}
	.planogramas.hunts .indicaciones {
		width: 100% !important;
	}
	.planogramas.hunts .planoTitle {
		float:none !important;
	}
	.planogramas.hunts .mainTitle {
		margin:0px !important;
		font-size:19px !important;
	}
	/*pam */
	.planogramas.pam .generales .indicaciones ul li {
		font-size: 16px !important;
		background-position: 0% 13% !important;
		margin-bottom: 10px;
		line-height: 23px !important;		
	}
	.planogramas.pam.sugerido3 .img1 img {
		width: 75% !important;
	}
	/* peterpan */
	.planogramas.peterpan .mainTitle {
		margin:0px !important;
		font-size:20px !important;
	}
	.planogramas.peterpan .generales{
		background-image: none !important;
		height: 70% !important;
	}
	.planogramas.peterpan .generales .indicaciones ul li {
		font-size: 15px !important;
		line-height: 23px !important;
		background-position: 0% 13% !important;
		margin-bottom: 10px;
	}
	/* snackpack*/
	.snackpack_background{
		background-image:none !important;
	}
	/* swissmiss */
	.planogramas.swissmiss .generales .indicaciones ul li {
		font-size: 15px !important;
		line-height: 23px !important;
		background-position: 0% 6% !important;
		margin-bottom: 10px;
	}
	/*wesson*/
	.planogramas.wesson .indicaciones {
		width: 100% !important;
	}
	/**/
	.planogramas a.previousButton {
		float: left;
		position:relative !important;
		top:0 !important;
		left:0 !important;
		margin-left:15px;
	}
	.planogramas a.nextButton {
		float: right;
		position:relative !important;
		top:0 !important;
		left:0 !important;
		margin-right:15px;
	}

	/* LATAM MAPA */
	.latam_mapa{
		margin-top:-14%;
		margin-right: 0;
	}
	
	.latam_mapa .custom_select_mobile{
		background: url(../images/conagralatam/select_mobile.png) no-repeat;
		background-size: cover;
		width: 100%;
		position:absolute;
		height: 57px;
		-webkit-appearance: none;
		background-position: right center;
		border: 0;
		top:13%;
	}
	
	footer{
		display:none;
	}
	
	#content .conagra_latam .actions-container {
		position: fixed;
		bottom: 0;
		margin-left: -5%;
		padding-left: 8%;
		background-color: rgba(197, 197, 197, 1);
		width: 100%;
		height: 14%;
		opacity: 0.6;
	}
	
	#content .conagra_latam .actions-container ul
	{
		margin-top: 5%;
	}
	
	#content .conagra_latam  .actions a,
	#content .conagra_latam  .actions a:hover {
		color:black;
		border-color:black;
		font-size: 4vw;
		background : url();
	}
	
	#content .conagra_latam  .actions li{
		display:inline;
	}

	#content .conagra_latam .latam_mapa #svg2{
		width:100%;
	}
		/* END LATAM */
	/*promo*/
	.promociones .carousel-control.right {
		top: 5%;
		right: 52%;
	}
}

@media only screen and (min-height : 480px)  { /*iphone 4*/
	.promociones .carousel-control.right {
		top: 5%;
		right: 20%;
	}
	.promociones .carousel-control.left {
		left: -12%;
		top: 5%;
	}
	.promociones .promo-mobile{
		margin-left: 13px;
	}
	.promociones .promo-mobile .marcas {
		margin-top: 1%;
	}
}
@media only screen and (min-height : 568px)  { /*iphone5*/
	
	
	.promociones .promo-mobile{
		margin-left: 0px;
	}	
	.promociones .carousel-control.right {
		top: 5%;
		right: 10%;
	}
	.promociones .promo-mobile .marcas{
		margin-top: 6%;
	}
}
@media only screen and (min-height : 640px)  { /*samsung 4*/
	
	.promociones .promo-mobile{
		margin-left: 0px;
	}	
	.promociones .carousel-control.left {
		top: 6%;
	}
	.promociones .carousel-control.right {
		top: 6%;
	}
	.promociones .promo-mobile .marcas{
		margin-top: 6%;
	}
}