/* Bootrstrap max MD (> 992 && <= 1200) */
@media only screen and (max-width : 1200px)  
{
	#content {
		width: 940px;
	}
}

/* Bootrstrap max SM (> 768 && <= 992) */
@media only screen and (max-width : 992px)  
{ 
	header .navbar-nav > li {
		width: 80px;
		font-size: 10px;
	}
	
	header .navbar-nav > li > a {
		line-height: 16px;
	}
	
	#content {
		width: 720px;
	}
}

/* Bootrstrap max XS (<= 768) */ 
@media only screen and (max-width : 768px)  
{ 
	#content {
		width: 90%;
		left: 5%;
	}
	
	#content .mainTitle {
		margin: 0 0 30px 0;
	}
}