.planogramas{
	height:100%;
/*	overflow:auto;
	overflow-x:hidden;*/
}
#content .planogramas .mainTitle
{
	margin: 0 0 36px 0;
	float:left;
}

#content .planogramas.index .mainTitle
{
	float:none;
}

#content .planogramas.index .mainTitle {
	margin: 0 0 65px 0;
}

#content .planogramas .brands-container .brands li a img{
	margin-top: 8px;
}


.planogramas.hunt_background{
	background-image: url("../images/planogramas/hunts/hunts_tomatoes.png");
	background-repeat: no-repeat;
	background-position: 80% 100%;
}


div .generales{
	width: 100%;
	padding-bottom: 20px;
}

.planogramas .indicaciones
{	
	font-family: 'Roboto', sans-serif;
	float: none;
	width: 100%;
	font-size:16px;
}

.planogramas.act .indicaciones,.planogramas.hunts .indicaciones{
	
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	float: left;
	width: 70%;
}
.planogramas.act .indicaciones{
	width: 100% !important;
	font-size: 14px;
}
.planogramas.wesson .indicaciones{
	width: 90%;
}
.indicaciones p{
	overflow: auto;	
}
.bold {
	font-weight: bold;
	
}

.planogramas.hunts .logo
{
	float: right;
	width: 30%;
}
.planogramas.act .logo{
	margin-top: -3%;
	width: 100% !important;
}

.planogramas a
{
	color:black;	
}

.planogramas .bordo{
	color:#cf3232;
}

.planogramas .generales .indicaciones ul li{
	font-family: 'Roboto', sans-serif;
}
/** ACT II **/

.planogramas.act2.sugerido2 .mainTitle {
	margin: 0px 0 14px 0 !important;
}
.planogramas.act2.sugerido2 .img1 img {
	width: 73%;
}
.planogramas.act2.sugerido2 .img2 img{
	width: 57%;
}
.planogramas.act2.sugerido3 .img1, .planogramas.act2.sugerido5 .img1{
	height: 85%;
}
.planogramas.act2.sugerido4 .img1{
	margin-top: 114px;
}
.planogramas.act2.sugerido4 .firstDivImage img,.planogramas.act2.sugerido4 .secondDivImage img {
	width:75%;
}
.act_background{
	background-image: url("../images/planogramas/Act II/pochoclos.png");
	background-repeat: no-repeat;
	background-position: 82% 100%;
	background-size: 49%;
}


/* HUNTS */
.planogramas.hunts .generales .indicaciones ul li {
	font-size: 16px;
	padding-left: 25px;
	line-height: 30px;
	background: url(../images/planogramas/tilde.png) no-repeat center left;
}
.planogramas.hunts.sugerido2 .img1, .planogramas.hunts.sugerido3 .img1, .planogramas.hunts.sugerido4 .img1{
	height:85%;
}

.planogramas.hunts.sugerido5 .img1{
	/*height:50%;*/
}
 .planogramas.hunts.sugerido5 .img3{
 /*	height:50%;*/
 }
 

.planogramas.hunts .generales .indicaciones ul li.dobleline {
	background-position: 0% 22%;
}

/** WESSON**/
.planogramas.wesson .generales .logo
{
	margin-top: 0%;
	float: right;	
}
.planogramas.wesson .generales .contenido
{
	margin-top: 0%;
	text-align: right;
}

.planogramas.wesson .generales .contenido .img
{
	margin-left: 3%;
	display: inline-block;	
}

.planogramas.wesson.sugerido2 .img1{
		height:85%;
}
.planogramas.wesson.sugerido3 .img1 img,.planogramas.wesson.sugerido3 .img2 img {
	width:72%;
}
/* SNACK PACK*/
.planogramas.snackpack.sugerido3 .img2{
	margin-top: -10px;
}
.planogramas.snackpack.snackpack_background {
	background-image: url("../images/planogramas/snackpack/snackpack_1_0.png");
	background-position: 100% 100%;
	background-size: 42%;
	background-repeat: no-repeat;
}

.planogramas.snackpack .logo{
	margin-left: 0%;
	margin-top: -5%;
	position: absolute;
	width: 55%;
}


/* PETER PAN */


.planogramas.peterpan .generales{
	background-image: url("../images/planogramas/peterpan/peterpan_1_2.png"),  url("../images/planogramas/peterpan/peterpan_1_1.png");
	background-repeat: no-repeat;
	background-position: 66% 68%, 100% 68%;
	height: 93%;

}
.planogramas.peterpan .generales .indicaciones ul li {
	font-size: 16px;
	padding-left: 25px;
	line-height: 30px;
	background: url(../images/planogramas/tilde.png) no-repeat center left;
}
.planogramas.peterpan .generales .indicaciones .logo{
	float:right;
}
.planogramas.peterpan .generales .images {
	margin-top:14%;
}
.planogramas.peterpan.sugerido2 .img1 , .planogramas.peterpan.sugerido2 .img1 img {
	height: 85%;
}
/* PAM */
.planogramas.pam .generales .indicaciones ul li {
	font-size: 16px;
	padding-left: 25px;
	line-height: 30px;
	background: url(../images/planogramas/tilde.png) no-repeat 0% 19%;
}
.planogramas.pam .generales .indicaciones .logo{
	float:right;
}
.planogramas.pam.sugerido3 .mainTitle {
	margin: 0px 0 7px 0;
}
.planogramas.pam .generales .images {
	margin-top:1%;
}

.planogramas.pam .generales .images img {
	margin-top: -3%;
	width: 36%;
}

.planogramas.pam .generales .images .firstCol, .planogramas.pam .generales .images .secondCol{
	padding: 0;
}
.planogramas.pam.sugerido3 .img1 img  {
	width: 25%;
}
/* SWISSMISS */
.planogramas.swissmiss .generales .indicaciones ul li {
	font-size: 16px;
	padding-left: 25px;
	line-height: 30px;
	background: url(../images/planogramas/tilde.png) no-repeat 0% 15%;
}
.planogramas.swissmiss .mainTitle {
	margin: 0px 0 15px 0 !important;
}
.planogramas.swissmiss .image{
	margin-top: -5px;
}
.planogramas.swissmiss .image img{
	width:82%;
}

/* next and previous button*/
.planogramas a.previousButton{
	background-image: url("../images/sprite.png");
	background-repeat: no-repeat;
	background-position: 5% 100%;
	width: 68px;
	height: 37px;
	position: absolute;
	top: 87%;
	left: 0%;
}
.planogramas a.nextButton{
	background-image: url("../images/sprite.png");
	background-repeat: no-repeat;
	background-position: 94% 100%;
	width: 68px;
	height: 37px;
	position: absolute;
	top: 87%;
	left: 93%;
}
.planogramas a.previousButton:hover{
	background-position: 5% 0%;
}
.planogramas a.nextButton:hover{
	background-position: 94% 0%;
}
.planogramas .popover.fade{
	width: 186px;
	opacity: 0.9;
	padding:0;
	border-radius: 7px;
	background: none;
	border: none;
}
.planogramas .popover.top > .arrow {
	border-top-color: #8f9240 !important;
	opacity: 0.8;
}
.planogramas .popover.top > .arrow:after{
	border-top-color:#8f9240 !important;
}
.planogramas .popover-title{
	float:left;
	line-height: 30px;
	padding: 4px 5px;
	background-color: #8d903d;
	border-color:none;
	border-bottom:none;
	border-radius:0;
	color: #fff;
	border-radius: 5px 0px 0px 5px;
}
.planogramas .popover-content{
	float:left;
	background-color: #8f9240;
	opacity: 0.8;
	color: #fff;
	padding: 9px 6px;
	border-bottom-right-radius: 6px;
	border-top-right-radius: 6px;
}


.planogramas .backButton {
	font-family: 'Roboto', sans-serif;
	margin-right: 15px;
	color: #333333;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
	text-decoration: none;
}

.planogramas .backButton:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
