.planogramas{
	height:100%;
	overflow:auto;
	overflow-x:hidden;
}

#content .planogramas .mainTitle
{
	margin: 0 0 36px 0;
}

.hunt_background{
	background-image: url("/bundles/odiseoconagra/images/planogramas/hunts/hunts_tomatoes.png");
	background-repeat: no-repeat;
	background-position: 80% 100%;
}


div .generales{
	width: 100%;
	padding-bottom: 20px;
}

.planogramas. .indicaciones
{	
	float: none;
	width: 100%;
}

.planogramas.act .indicaciones,.planogramas.hunts .indicaciones,.planogramas.wesson .indicaciones{
	
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	float: left;
	width: 70%;
}

.indicaciones p{
	overflow: auto;	
}
.bold {
	font-weight: bold;
	
}

.planogramas.act .logo, .planogramas.hunts .logo
{
	float: right;
	width: 30%;
}

.planogramas a
{
	color:black;	
}

.planogramas .bordo{
	color:#cf3232;
}

/** ACT II **/

.act_background{
	background-image: url("../images/planogramas/Act II/pochoclos.png");
	background-repeat: no-repeat;
	background-position: 100% 100%;
}


/** WESSON**/
.planogramas.wesson .generales .logo
{
	margin-top: 5%;	
}
.planogramas.wesson .generales .contenido
{
	margin-top: 5%;
	margin-left: 27%;	
}


.planogramas.wesson .generales .contenido .img
{
	float: left;
	margin-left: 5%;	
}

/* SNACK PACK*/

.planogramas.snackpack .img2
{
	margin-top: 10%;	
}

/* PETER PAN */
.planogramas.peterpan .generales .indicaciones ul li {
	font-size: 16px;
	padding-left: 25px;
	line-height: 30px;
	background: url(../images/planogramas/tilde.png) no-repeat center left;
}
.planogramas.peterpan .generales .indicaciones .logo{
	margin-left: 300px;
	margin-bottom: 30px;
}
.planogramas.peterpan .generales .images {
	margin-top:4%;
}
/* PAM */
.planogramas.pam .generales .indicaciones ul li {
	font-size: 16px;
	padding-left: 25px;
	line-height: 30px;
	background: url(../images/planogramas/tilde.png) no-repeat 0% 19%;
}
.planogramas.pam .generales .indicaciones .logo{
	margin-left: 300px;
	margin-bottom: 30px;
}
.planogramas.pam .generales .images {
	margin-top:4%;
}


/* SWISSMISS */
.planogramas.swissmiss .generales .indicaciones ul li {
	font-size: 16px;
	padding-left: 25px;
	line-height: 30px;
	background: url(../images/planogramas/tilde.png) no-repeat 0% 19%;
}
.planogramas.swissmiss .generales .indicaciones .image {
	padding-top: 30px;
}