.planogramas{
	height:100%;
/*	overflow:auto;
	overflow-x:hidden;*/
}

#content .planogramas .mainTitle
{
	margin: 0 0 36px 0;
}

.planogramas.hunt_background{
	background-image: url("../images/planogramas/hunts/hunts_tomatoes.png");
	background-repeat: no-repeat;
	background-position: 80% 100%;
}


div .generales{
	width: 100%;
	padding-bottom: 20px;
}

.planogramas .indicaciones
{	
	font-family: 'Roboto', sans-serif;
	float: none;
	width: 100%;
}

.planogramas.act .indicaciones,.planogramas.hunts .indicaciones{
	
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	float: left;
	width: 70%;
}
.planogramas.act .indicaciones{
		width: 100% !important;
}
.planogramas.wesson .indicaciones{
	width: 90%;
}
.indicaciones p{
	overflow: auto;	
}
.bold {
	font-weight: bold;
	
}

.planogramas.act .logo, .planogramas.hunts .logo
{
	float: right;
	width: 30%;
}
.planogramas.act .logo{
	width: 100% !important;
}

.planogramas a
{
	color:black;	
}

.planogramas .bordo{
	color:#cf3232;
}

.planogramas .generales .indicaciones ul li{
	font-family: 'Roboto', sans-serif;
}
/** ACT II **/
.planogramas.act2.sugerido2 .mainTitle {
	margin: 0px 0 14px 0 !important;
}
.planogramas.act2.sugerido2 .img1, .planogramas.act2.sugerido2 .img2{
	height: 85%;
}

.planogramas.act2.sugerido3 .img1, .planogramas.act2.sugerido5 .img1{
	height: 85%;
}
.planogramas.act2.sugerido4 .img1{
	margin-top: 114px;
}
.act_background{
	background-image: url("../images/planogramas/Act II/pochoclos.png");
	background-repeat: no-repeat;
	background-position: 91% 100%;
}


/* HUNTS */
.planogramas.hunts .generales .indicaciones ul li {
	font-size: 16px;
	padding-left: 25px;
	line-height: 30px;
	background: url(../images/planogramas/tilde.png) no-repeat center left;
}
.planogramas.hunts.sugerido2 .img1, .planogramas.hunts.sugerido3 .img1, .planogramas.hunts.sugerido4 .img1{
	height:85%;
}

.planogramas.hunts.sugerido5 .img1{
	/*height:50%;*/
}
 .planogramas.hunts.sugerido5 .img3{
 /*	height:50%;*/
 }
 
 
 .planogramas.hunts.sugerido5 .img2{
	position:relative;
	top:-45px;
 }

.planogramas.hunts .generales .indicaciones ul li.dobleline {
	background-position: 0% 22%;
}

/** WESSON**/
.planogramas.wesson .generales .logo
{
	margin-top: 0%;
	float: right;	
}
.planogramas.wesson .generales .contenido
{
	margin-top: 2%;
	margin-left: 25%;	
}

.planogramas.wesson .generales .contenido .img
{
	float: left;
	margin-left: 5%;	
}

.planogramas.wesson.sugerido2 .img1{
		height:85%;
}
.planogramas.wesson.sugerido3 .img1,.planogramas.wesson.sugerido3 .img2 {
		height:92%;
}
/* SNACK PACK*/
.planogramas.snackpack.sugerido3 .img1, .planogramas.snackpack.sugerido3 .img2{
	height: 100%;
}
.planogramas.snackpack.sugerido3 .img2{
	margin-top: -10px;
}
.planogramas.snackpack.sugerido3 .img1 img, .planogramas.snackpack.sugerido3 .img2 img  {
	height:92%;
}

.planogramas.snackpack  {
	background-image: url("../images/planogramas/snackpack/snackpack_1_0.png");
	background-position: 94% 100%;
	background-size: 34%;
	background-repeat: no-repeat;
}

.planogramas.snackpack .logo{
	margin-left: 0%;
	margin-top: -5%;
	position: absolute;
	width: 55%;
}


/* PETER PAN */


.planogramas.peterpan .generales{
	background-image: url("../images/planogramas/peterpan/peterpan_1_2.png"),  url("../images/planogramas/peterpan/peterpan_1_1.png");
	background-repeat: no-repeat;
	background-position: 66% 68%, 100% 68%;
	height: 93%;

}
.planogramas.peterpan .generales .indicaciones ul li {
	font-size: 16px;
	padding-left: 25px;
	line-height: 30px;
	background: url(../images/planogramas/tilde.png) no-repeat center left;
}
.planogramas.peterpan .generales .indicaciones .logo{
	margin-left: 300px;
	margin-bottom: 30px;
}
.planogramas.peterpan .generales .images {
	margin-top:14%;
}
.planogramas.peterpan.sugerido2 .img1 , .planogramas.peterpan.sugerido2 .img1 img {
	height: 85%;
}
/* PAM */
.planogramas.pam .generales .indicaciones ul li {
	font-size: 16px;
	padding-left: 25px;
	line-height: 30px;
	background: url(../images/planogramas/tilde.png) no-repeat 0% 19%;
}
.planogramas.pam .generales .indicaciones .logo{
	margin-left: 300px;
	margin-bottom: 30px;
}
.planogramas.pam.sugerido3 .mainTitle {
	margin: 0px 0 7px 0  !important;
}
.planogramas.pam .generales .images {
	margin-top:1%;
}

.planogramas.pam .generales img {
	margin-top: -8%;
	width: 30%;
}

.planogramas.pam .generales .images .firstCol, .planogramas.pam .generales .images .secondCol{
	padding: 0;
}
.planogramas.pam.sugerido3 .img1, .planogramas.pam.sugerido3 .img1 img  {
	height: 100%;
}
/* SWISSMISS */
.planogramas.swissmiss .generales .indicaciones ul li {
	font-size: 16px;
	padding-left: 25px;
	line-height: 30px;
	background: url(../images/planogramas/tilde.png) no-repeat 0% 19%;
}
.planogramas.swissmiss .mainTitle {
	margin: 0px 0 15px 0 !important;
}
.planogramas.swissmiss .image{
	height: 100%;
	margin-top: -5px;
}
.planogramas.swissmiss .image img{
	height: 94%;
}